version: "3.9"

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  kafka:
    image: confluentinc/cp-kafka:7.4.0
    depends_on:
      - zookeeper
    ports:
      - 127.0.0.1:29092:29092
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: "zookeeper:2181"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "false"
    healthcheck:
      test: kafka-topics --bootstrap-server kafka:9092 --list
      interval: 5s
      timeout: 3s
      retries: 100

  clickhouse:
    image: clickhouse/clickhouse-server:23.3.9.55-alpine
    ports:
      - 127.0.0.1:8123:8123
      - 127.0.0.1:9000:9000
      - 127.0.0.1:9009:9009
    environment:
      CLICKHOUSE_USER: default
      CLICKHOUSE_PASSWORD: default
      CLICKHOUSE_DB: openmeter
      CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT: 1
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://clickhouse:8123/ping || exit 1
      interval: 5s
      timeout: 3s
      retries: 100

  # Deduplication
  # docker compose --profile dedupe-redis up
  redis:
    profiles:
      - redis
    image: redis:7.0.12-alpine
    ports:
      - 127.0.0.1:6379:6379

  # Development
  # docker compose --profile dev up
  redpanda:
    image: docker.redpanda.com/redpandadata/console:v2.3.1
    profiles:
      - dev
    depends_on:
      - kafka
    ports:
      - 127.0.0.1:8084:8080
    environment:
      KAFKA_BROKERS: kafka:9092

  wiretap:
    image: pb33f/wiretap:v0.0.49
    profiles:
      - dev
    command: --config /usr/local/src/openmeter/etc/wiretap/config.docker.yaml
    ports:
      - 127.0.0.1:19090:19090
      - 127.0.0.1:19091:19091
      - 127.0.0.1:19092:19092
    volumes:
      - ./api:/usr/local/src/openmeter/api
      - ./etc:/usr/local/src/openmeter/etc

  # Credit
  # docker compose --profile postgres up
  postgres:
    image: postgres:14.9
    profiles:
      - postgres
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_DB=postgres
      - POSTGRES_PASSWORD=postgres
    command:
      - "postgres"
      - "-c"
      - "wal_level=logical"

  svix:
    image: svix/svix-server:v1.28
    profiles:
      - webhook
    environment:
      WAIT_FOR: "true"  # We want to wait for the default services
      SVIX_REDIS_DSN: "redis://redis:6379"
      SVIX_DB_DSN: "postgresql://postgres:postgres@postgres/postgres"
      SVIX_CACHE_TYPE: "memory"
      SVIX_JWT_SECRET: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE3MjI5NzYyNzMsImV4cCI6MjAzODMzNjI3MywibmJmIjoxNzIyOTc2MjczLCJpc3MiOiJzdml4LXNlcnZlciIsInN1YiI6Im9yZ18yM3JiOFlkR3FNVDBxSXpwZ0d3ZFhmSGlyTXUifQ.PomP6JWRI62W5N4GtNdJm2h635Q5F54eij0J3BU-_Ds"
      SVIX_LOG_LEVEL: "debug"
      SVIX_QUEUE_TYPE: "redis"
    ports:
      - "8071:8071"
    depends_on:
      - postgres
      - redis
