services:
  kafka:
    extends:
      file: docker-compose.base.yaml
      service: kafka
    ports:
      - "127.0.0.1:29092:29092"

  clickhouse:
    extends:
      file: docker-compose.base.yaml
      service: clickhouse
    ports:
      - "127.0.0.1:8123:8123"
      - "127.0.0.1:9000:9000"
      - "127.0.0.1:9009:9009"

  ch-ui:
    extends:
      file: docker-compose.base.yaml
      service: ch-ui
    profiles:
      - dev
    ports:
      - "${CH_UI_PORT:-5521}:5521"

  # Deduplication
  # docker compose --profile redis up
  redis:
    extends:
      file: docker-compose.base.yaml
      service: redis
    profiles:
      - redis
    ports:
      - "127.0.0.1:6379:6379"

  # Development
  # docker compose --profile dev up
  kafka-ui:
    extends:
      file: docker-compose.base.yaml
      service: kafka-ui
    profiles:
      - dev
    ports:
      - "127.0.0.1:8084:8080"

  # Credit
  # docker compose --profile postgres up
  postgres:
    extends:
      file: docker-compose.base.yaml
      service: postgres
    ports:
      - "127.0.0.1:5432:5432"

  svix:
    extends:
      file: docker-compose.base.yaml
      service: svix
    profiles:
      - webhook
    ports:
      - "127.0.0.1:8071:8071"

configs:
  svix_sql:
    content: |
      CREATE USER svix WITH PASSWORD 'svix';
      CREATE DATABASE svix;
      GRANT ALL PRIVILEGES ON DATABASE svix TO svix;
      ALTER DATABASE svix OWNER TO svix;
