# dot-files (.env, .git, .npmrc, ...)
.*

# logs
logs
*.log
npm-debug.log*

# dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# editor
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# source
index.ts
src/
scripts/
vitest.config.ts
eslint.config.js
tsconfig*.json
