address: 0.0.0.0:8080

telemetry:
  address: 0.0.0.0:10000
  # log:
  #   level: debug

ingest:
  kafka:
    broker: kafka:9092

aggregation:
  clickhouse:
    address: clickhouse:9000

sink:
  minCommitCount: 500
  maxCommitWait: 1s
  namespaceRefetch: 1s
  dedupe:
    enabled: true
    driver: redis
    config:
      expiration: 768h # 32d
      database: 1
      address: redis:6379

credits:
  enabled: true

postgres:
  url: postgres://postgres:postgres@postgres:5432/postgres?sslmode=disable

meters:
  - slug: ingest
    description: Meter for testing ingestion
    eventType: ingest
    valueProperty: $.duration_ms
    aggregation: SUM
  - slug: batchingest
    description: Meter for testing batch ingestion
    eventType: batchingest
    valueProperty: $.duration_ms
    aggregation: SUM
  - slug: dedupe
    description: Meter for testing deduplication
    eventType: dedupe
    aggregation: COUNT
  - slug: query
    description: Meter for testing querying
    eventType: query
    valueProperty: $.duration_ms
    aggregation: SUM
    groupBy:
      method: $.method
      path: $.path
  - slug: credit_test_meter
    description: Meter for testing credit
    eventType: credit_event
    aggregation: COUNT
    groupBy:
      model: $.model
