openapi: 3.0.0
info:
  title: OpenMeter API
  version: 1.0.0
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://openmeter.cloud/terms-of-service
  description: |-
    OpenMeter is a cloud native usage metering and billing service.
    The OpenMeter API allows you to ingest events, query meter usage, and manage resources.
servers:
  - url: https://openmeter.cloud/api/v3
    description: Cloud
    variables: {}
tags:
  - name: OpenMeter Apps
    description: OpenMeter Apps enable you to extend and customize billing and usage workflows by integrating with external systems and services. Apps can automate and enhance your billing ecosystem by supporting capabilities such as synchronizing usage data with third-party platforms, calculating taxes, generating and delivering invoices, handling payment collection, and other billing-related tasks.
  - name: OpenMeter Entitlements
    description: Entitlements are used to control access to features for customers.
  - name: OpenMeter Subscriptions
    description: Subscriptions are used to track usage of your product or service. Subscriptions can be individuals or organizations that can subscribe to plans and have access to features.
  - name: OpenMeter Customers
    description: Customers are used to track usage of your product or service. Customers can be individuals or organizations that can subscribe to plans and have access to features.
  - name: Metering Events
    description: Metering events are used to track usage of your product or service. Events are processed asynchronously by the meters, so they may not be immediately available for querying.
  - name: Meters
    description: Meters specify how to aggregate events for billing and analytics purposes. Meters can be configured with multiple aggregation methods and groupings. Multiple meters can be created for the same event type, enabling flexible metering scenarios.
paths:
  /openmeter/app-catalog:
    get:
      operationId: list-app-catalog
      summary: List available apps
      parameters:
        - $ref: '#/components/parameters/PagePaginationQuery'
      responses:
        '200':
          description: Page paginated response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppCatalogItemPagePaginatedResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - OpenMeter Apps
  /openmeter/app-catalog/{type}:
    get:
      operationId: get-app-catalog-item
      summary: Get app catalog item by type
      parameters:
        - name: type
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/BillingAppType'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingAppCatalogItem'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Apps
  /openmeter/app-catalog/{type}/install/oauth2:
    get:
      operationId: get-app-catalog-item-oauth2-install-url
      summary: Get OAuth2 install URL for an app catalog item
      parameters:
        - name: type
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/BillingAppType'
      responses:
        '200':
          description: AppCatalogItem response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingAppCatalogItem'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Apps
  /openmeter/apps/custom-invoicing/{invoiceId}/draft/synchronized:
    post:
      operationId: submit-custom-invoicing-draft-synchronized
      summary: Submit draft synchronization results
      description: |-
        Submit draft synchronization results.

        This endpoint is called by the integration after the invoice draft has been synchronized
        with the external invoicing system. It allows setting invoice numbers, external IDs,
        and mapping line items to external system entities.
      parameters:
        - name: invoiceId
          in: path
          required: true
          description: The invoice ID.
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '204':
          description: 'There is no content to send for this request, but the headers may be useful. '
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - OpenMeter Apps
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingAppCustomInvoicingDraftSynchronizedRequest'
        description: The synchronization result.
  /openmeter/apps/custom-invoicing/{invoiceId}/issuing/synchronized:
    post:
      operationId: submit-custom-invoicing-issuing-synchronized
      summary: Submit issuing synchronization results
      description: |-
        Submit issuing synchronization results.

        This endpoint is called by the integration after the invoice has been issued/finalized
        in the external invoicing system. It allows finalizing invoice and payment details,
        including invoice numbers and timestamps for when the invoice was sent to the customer.
      parameters:
        - name: invoiceId
          in: path
          required: true
          description: The invoice ID.
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '204':
          description: 'There is no content to send for this request, but the headers may be useful. '
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - OpenMeter Apps
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingAppCustomInvoicingFinalizedRequest'
        description: The finalization result.
  /openmeter/apps/custom-invoicing/{invoiceId}/payment/status:
    post:
      operationId: update-custom-invoicing-payment-status
      summary: Update payment status
      description: |-
        Update payment status.

        This endpoint allows the integration to update the payment status of an invoice
        based on events from the external payment system. It supports various payment
        lifecycle events such as paid, failed, overdue, and void.
      parameters:
        - name: invoiceId
          in: path
          required: true
          description: The invoice ID.
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '204':
          description: 'There is no content to send for this request, but the headers may be useful. '
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - OpenMeter Apps
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingAppCustomInvoicingUpdatePaymentStatusRequest'
        description: The payment status update.
  /openmeter/apps/stripe/checkout-sessions:
    post:
      operationId: create-stripe-checkout-session
      summary: Create Stripe Checkout Session
      description: |-
        Create a Stripe Checkout Session.

        Creates a Checkout Session for collecting payment method information from customers.
        The session operates in "setup" mode, which collects payment details without charging
        the customer immediately. The collected payment method can be used for future
        subscription billing.

        For hosted checkout sessions, redirect customers to the returned URL. For embedded
        sessions, use the client_secret to initialize Stripe.js in your application.

        See: https://docs.stripe.com/payments/checkout
      responses:
        '201':
          description: The request has succeeded and a new resource has been created as a result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingAppStripeCreateCheckoutSessionResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - OpenMeter Apps
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingAppStripeCreateCheckoutSessionRequest'
        description: Checkout session configuration including customer and options.
  /openmeter/apps/stripe/{appId}/webhook:
    post:
      operationId: handle-stripe-webhook
      summary: Handle Stripe webhook
      description: |-
        Handle Stripe webhook events.

        This endpoint receives and processes webhook events from Stripe, such as
        payment confirmations, subscription changes, and invoice updates. The endpoint
        validates the webhook signature and processes events asynchronously.

        Webhooks must be configured in your Stripe Dashboard to point to this endpoint.
        See: https://docs.stripe.com/webhooks
      parameters:
        - name: appId
          in: path
          required: true
          description: The Stripe app ID that should process this webhook.
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingAppStripeWebhookResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - OpenMeter Apps
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingAppStripeWebhookEvent'
        description: The webhook event payload from Stripe.
  /openmeter/customers:
    post:
      operationId: create-customer
      summary: Create customer
      responses:
        '201':
          description: Customer created response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingCustomer'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - OpenMeter Customers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomerRequest'
    get:
      operationId: list-customers
      summary: List customers
      parameters:
        - $ref: '#/components/parameters/PagePaginationQuery'
        - name: sort
          in: query
          required: false
          description: |-
            Sort customers returned in the response.
            Supported sort attributes are:
            - `id`
            - `name` (default)
            - `created_at`

            The `asc` suffix is optional as the default sort order is ascending.
            The `desc` suffix is used to specify a descending order.
          schema:
            $ref: '#/components/schemas/SortQuery'
          explode: false
          style: form
        - name: filter
          in: query
          required: false
          description: |-
            Filter customers returned in the response.

            To filter customers by key add the following query param: filter[key]=my-db-id
          schema:
            $ref: '#/components/schemas/ListCustomersParamsFilter'
          style: deepObject
      responses:
        '200':
          description: Page paginated response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerPagePaginatedResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - OpenMeter Customers
  /openmeter/customers/{customerId}:
    get:
      operationId: get-customer
      summary: Get customer
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '200':
          description: Customer response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingCustomer'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Customers
    put:
      operationId: upsert-customer
      summary: Upsert customer
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '200':
          description: Customer upsert response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingCustomer'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/Gone'
      tags:
        - OpenMeter Customers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertCustomerRequest'
    delete:
      operationId: delete-customer
      summary: Delete customer
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '204':
          description: Deleted response.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Customers
  /openmeter/customers/{customerId}/entitlement-access:
    get:
      operationId: list-customer-entitlement-access
      summary: List customer entitlement access
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '200':
          description: List the customer's active features and their access.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCustomerEntitlementAccessResponseData'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Entitlements
  /openmeter/events:
    post:
      operationId: ingest-metering-events
      description: Ingests an event or batch of events following the CloudEvents specification.
      summary: Ingest metering events
      responses:
        '202':
          description: The events have been ingested and are being processed asynchronously.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Metering Events
      requestBody:
        required: true
        content:
          application/cloudevents+json:
            schema:
              $ref: '#/components/schemas/MeteringEvent'
          application/cloudevents-batch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/MeteringEvent'
          application/json:
            schema:
              anyOf:
                - $ref: '#/components/schemas/MeteringEvent'
                - type: array
                  items:
                    $ref: '#/components/schemas/MeteringEvent'
  /openmeter/meters:
    post:
      operationId: create-meter
      summary: Create meter
      description: Create a meter.
      responses:
        '201':
          description: Meter created response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Meter'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Meters
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMeterRequest'
    get:
      operationId: list-meters
      summary: List meters
      description: List meters.
      parameters:
        - $ref: '#/components/parameters/PagePaginationQuery'
      responses:
        '200':
          description: Page paginated response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeterPagePaginatedResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Meters
  /openmeter/meters/{meterId}:
    get:
      operationId: get-meter
      summary: Get meter
      description: Get a meter by ID.
      parameters:
        - name: meterId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '200':
          description: Meter response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Meter'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Meters
    delete:
      operationId: delete-meter
      summary: Delete meter
      description: Delete a meter.
      parameters:
        - name: meterId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '204':
          description: Deleted response.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Meters
  /openmeter/subscriptions:
    post:
      operationId: create-subscription
      summary: Create subscription
      responses:
        '201':
          description: Subscription created response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingSubscription'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - OpenMeter Subscriptions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingSubscriptionCreate'
    get:
      operationId: list-subscriptions
      summary: List subscriptions
      parameters:
        - $ref: '#/components/parameters/PagePaginationQuery'
        - name: filter
          in: query
          required: false
          description: Filter subscriptions.
          schema:
            type: object
            properties:
              customer_id:
                allOf:
                  - $ref: '#/components/schemas/ULID'
                description: Filter subscriptions by customer ID.
          style: deepObject
      responses:
        '200':
          description: Page paginated response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionPagePaginatedResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Subscriptions
  /openmeter/subscriptions/{subscriptionId}:
    get:
      operationId: get-subscription
      summary: Get subscription
      parameters:
        - name: subscriptionId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '200':
          description: Subscription response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingSubscription'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Subscriptions
  /openmeter/subscriptions/{subscriptionId}/cancel:
    post:
      operationId: cancel-subscription
      summary: Cancel subscription
      description: |-
        Cancels the subscription.
        Will result in a scheduling conflict if there are other subscriptions scheduled to start after the cancelation time.
      parameters:
        - name: subscriptionId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '200':
          description: Subscription updated response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingSubscription'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - OpenMeter Subscriptions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingSubscriptionCancel'
  /openmeter/subscriptions/{subscriptionId}/change:
    post:
      operationId: change-subscription
      summary: Change subscription
      description: |-
        Closes a running subscription and starts a new one according to the specification.
        Can be used for upgrades, downgrades, and plan changes.
      parameters:
        - name: subscriptionId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingSubscriptionChangeResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - OpenMeter Subscriptions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingSubscriptionChange'
  /openmeter/subscriptions/{subscriptionId}/unschedule-cancelation:
    post:
      operationId: unschedule-cancelation
      summary: Unschedule subscription cancelation
      description: Unschedules the subscription cancelation.
      parameters:
        - name: subscriptionId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '200':
          description: Subscription updated response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingSubscription'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - OpenMeter Subscriptions
components:
  parameters:
    PagePaginationQuery:
      name: page
      in: query
      required: false
      description: Determines which page of the collection to retrieve.
      schema:
        type: object
        properties:
          size:
            type: integer
          number:
            type: integer
      style: deepObject
  schemas:
    AppCatalogItemPagePaginatedResponse:
      type: object
      required:
        - data
        - meta
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/BillingAppCatalogItem'
        meta:
          $ref: '#/components/schemas/PaginatedMeta'
      description: Page paginated response.
    BillingAddress:
      type: object
      properties:
        country:
          allOf:
            - $ref: '#/components/schemas/CountryCode'
          description: Country code in [ISO 3166-1](https://www.iso.org/iso-3166-country-codes.html) alpha-2 format.
          title: Country
        postal_code:
          type: string
          description: Postal code.
          title: Postal Code
        state:
          type: string
          description: State or province.
          title: State
        city:
          type: string
          description: City.
          title: City
        line1:
          type: string
          description: First line of the address.
          title: Line 1
        line2:
          type: string
          description: Second line of the address.
          title: Line 2
        phone_number:
          type: string
          description: Phone number.
          title: Phone Number
      description: Address
    BillingAppCapability:
      type: object
      required:
        - type
        - key
        - name
        - description
      properties:
        type:
          allOf:
            - $ref: '#/components/schemas/BillingAppCapabilityType'
          description: Type of the capability.
        key:
          allOf:
            - $ref: '#/components/schemas/ResourceKey'
          description: Key of the capability.
        name:
          type: string
          description: Name of the capability.
        description:
          type: string
          description: Description of the capability.
      description: App capability describes a function that an App can perform.
      example:
        type: collect_payments
        key: stripe_collect_payment
        name: Collect Payments
        description: Stripe payments collects outstanding revenue with Stripe customer's default payment method.
    BillingAppCapabilityType:
      type: string
      enum:
        - report_usage
        - report_events
        - calculate_tax
        - invoice_customers
        - collect_payments
      description: |-
        Supported capability types for an App.

        Each capability defines an integration function that an App can perform.
    BillingAppCatalogItem:
      type: object
      required:
        - type
        - name
        - description
        - capabilities
        - install_methods
      properties:
        type:
          allOf:
            - $ref: '#/components/schemas/BillingAppType'
          description: Type of the app.
          readOnly: true
        name:
          type: string
          description: Name of the app.
          readOnly: true
        description:
          type: string
          description: Description of the app.
          readOnly: true
        capabilities:
          type: array
          items:
            $ref: '#/components/schemas/BillingAppCapability'
          description: Capabilities of the app.
          readOnly: true
        install_methods:
          type: array
          items:
            $ref: '#/components/schemas/BillingAppInstallMethods'
          description: Available install methods of the app.
          readOnly: true
      description: |-
        Available apps for billing integrations to connect with third-party services.
        Apps can have various capabilities like syncing data from or to external systems, integrating with third-party services for tax calculation, delivery of invoices, collection of payments, etc.
      example:
        type: stripe
        name: Stripe
        description: Stripe interation allows you to collect payments with Stripe.
        capabilities:
          - type: calculate_tax
            key: stripe_calculate_tax
            name: Calculate Tax
            description: Stripe Tax calculates tax portion of the invoices.
          - type: invoice_customers
            key: stripe_invoice_customers
            name: Invoice Customers
            description: Stripe invoices customers with due amount.
          - type: collect_payments
            key: stripe_collect_payments
            name: Collect Payments
            description: Stripe payments collects outstanding revenue with Stripe customer's default payment method.
        install_methods:
          - with_oauth2
          - with_api_key
    BillingAppCustomInvoicingDraftSynchronizedRequest:
      type: object
      properties:
        invoicing:
          allOf:
            - $ref: '#/components/schemas/BillingAppCustomInvoicingSyncResult'
          description: |-
            Synchronization results containing external system identifiers.

            Provides mappings between invoice entities and their corresponding
            external system entities after the draft has been validated/prepared
            in the external system.
      description: |-
        Request payload for confirming draft invoice synchronization.

        Called by the integration when draft synchronization is complete and the
        invoice can progress from draft to issuing state. This is only required
        when `enable_draft_sync_hook` is enabled on the app.
    BillingAppCustomInvoicingFinalizedInvoicingRequest:
      type: object
      properties:
        invoice_number:
          allOf:
            - $ref: '#/components/schemas/BillingInvoiceNumber'
          description: |-
            The final invoice number assigned by the external invoicing system.

            If not provided, an invoice number will be auto-generated with
            the "INV-" prefix. Once set at the issued state, the invoice number
            becomes immutable.
        sent_to_customer_at:
          allOf:
            - $ref: '#/components/schemas/DateTime'
          description: |-
            The timestamp when the invoice was delivered to the customer.

            This represents when the external system sent the invoice to the customer
            (e.g., via email, portal, or other delivery method). Used for tracking
            invoice delivery and payment term calculations.
      description: |-
        Invoicing finalization details for an invoice.

        Contains information about the issued invoice in the external system.
    BillingAppCustomInvoicingFinalizedPaymentRequest:
      type: object
      properties:
        external_id:
          type: string
          description: |-
            The external payment system's unique identifier for this invoice's payment.

            This ID links the invoice to its payment record in the external payment system
            (e.g., Stripe payment intent ID, external payment processor transaction ID).
            Stored as the payment external ID on the invoice.
      description: |-
        Payment synchronization details for an invoice.

        Contains external system identifiers related to payment processing.
    BillingAppCustomInvoicingFinalizedRequest:
      type: object
      properties:
        invoicing:
          allOf:
            - $ref: '#/components/schemas/BillingAppCustomInvoicingFinalizedInvoicingRequest'
          description: |-
            Invoicing finalization details from the external invoicing system.

            Includes the final invoice number and delivery confirmation. If the invoice
            number is not provided, one will be auto-generated with the "INV-" prefix.
        payment:
          allOf:
            - $ref: '#/components/schemas/BillingAppCustomInvoicingFinalizedPaymentRequest'
          description: |-
            Payment synchronization details from the external payment system.

            Provides external payment system identifiers for tracking and reconciliation.
      description: |-
        Request payload for confirming invoice issuance synchronization.

        Called by the integration when the invoice has been successfully issued in the
        external invoicing system. This callback allows the invoice to progress from
        the issuing to issued state. This is only required when `enable_issuing_sync_hook`
        is enabled on the app.

        The request can include both invoicing details (invoice number, delivery timestamp)
        and payment setup details (payment processor identifiers).
    BillingAppCustomInvoicingLineDiscountExternalIdMapping:
      type: object
      required:
        - line_discount_id
        - external_id
      properties:
        line_discount_id:
          allOf:
            - $ref: '#/components/schemas/ULID'
          description: |-
            The line discount ID (ULID format).

            This is the unique identifier for the discount in the billing system.
        external_id:
          type: string
          description: |-
            The external invoicing system's unique identifier for this discount.

            This allows tracking how discounts are represented in the external system.
      description: |-
        Maps an invoice line discount to its external system counterpart.

        Line discounts represent reductions applied to specific invoice line items.
        This mapping allows tracking of discount entities across systems for accurate
        financial reporting and reconciliation.
    BillingAppCustomInvoicingLineExternalIdMapping:
      type: object
      required:
        - line_id
        - external_id
      properties:
        line_id:
          allOf:
            - $ref: '#/components/schemas/ULID'
          description: |-
            The invoice line item ID (ULID format).

            This is the unique identifier for the line item in the billing system.
        external_id:
          type: string
          description: |-
            The external invoicing system's unique identifier for this line item.

            Examples: QuickBooks line item ID, Xero line item ID, or any custom system's identifier.
            This value is stored as the invoicing external ID on the line item.
      description: |-
        Maps an invoice line item to its external system counterpart.

        This mapping enables bidirectional references between line items across systems,
        facilitating updates, queries, and reconciliation operations.
    BillingAppCustomInvoicingPaymentTrigger:
      type: string
      enum:
        - paid
        - payment_failed
        - payment_uncollectible
        - payment_overdue
        - action_required
        - void
      description: |-
        Payment status triggers for invoice state transitions.

        These triggers allow the external payment system to update the invoice's
        payment status based on events occurring in the external system.
        Each trigger transitions the invoice to a corresponding payment state.
    BillingAppCustomInvoicingSyncResult:
      type: object
      properties:
        invoice_number:
          allOf:
            - $ref: '#/components/schemas/BillingInvoiceNumber'
          description: |-
            The invoice number assigned by the external invoicing system.

            If provided, this will replace the auto-generated invoice number.
            The invoice number becomes permanent once the invoice reaches the issued state.
        external_id:
          type: string
          description: |-
            The external invoicing system's unique identifier for this invoice.

            This ID is stored as the invoicing external ID on the invoice and can be used
            to link back to the corresponding invoice in the external system (e.g., QuickBooks
            invoice ID, Xero invoice ID).
        line_external_ids:
          type: array
          items:
            $ref: '#/components/schemas/BillingAppCustomInvoicingLineExternalIdMapping'
          description: |-
            Mappings between invoice line item IDs and external system line item IDs.

            Use this to establish a bidirectional reference between invoice line items
            and their corresponding entities in the external invoicing system.
            This is useful for reconciliation and when updating or querying specific line items.
        line_discount_external_ids:
          type: array
          items:
            $ref: '#/components/schemas/BillingAppCustomInvoicingLineDiscountExternalIdMapping'
          description: |-
            Mappings between line discount IDs and external system discount IDs.

            Use this to link line-level discounts to their corresponding entities in the
            external system for accurate financial reconciliation and reporting.
      description: |-
        Invoice synchronization result containing external system identifiers.

        This structure allows the integration to map invoice entities to their
        corresponding entities in the external invoicing system. These external IDs are
        stored with the invoice and can be used for future reconciliation, debugging,
        and cross-system references.
    BillingAppCustomInvoicingUpdatePaymentStatusRequest:
      type: object
      required:
        - trigger
      properties:
        trigger:
          allOf:
            - $ref: '#/components/schemas/BillingAppCustomInvoicingPaymentTrigger'
          description: |-
            The payment status trigger to execute.

            Specifies the payment event that occurred in the external system, which will
            transition the invoice to the corresponding payment state.
      description: |-
        Request to update an invoice's payment status based on external payment events.

        This endpoint allows the external payment system to report payment-related events
        back to the billing system, keeping the invoice payment status synchronized across systems.
        Typically called in response to payment processor webhooks or polling mechanisms.

        Only applicable for invoices that have reached the issued state and are managed
        by a custom invoicing app.
    BillingAppInstallMethods:
      type: string
      enum:
        - with_oauth2
        - with_api_key
        - no_credentials_required
      description: Supported installation methods for an app.
    BillingAppStripeCheckoutSessionCustomTextParams:
      type: object
      properties:
        after_submit:
          type: object
          properties:
            message:
              type: string
              maxLength: 1200
              description: The custom message text (max 1200 characters).
          description: Text displayed after the payment confirmation button.
        shipping_address:
          type: object
          properties:
            message:
              type: string
              maxLength: 1200
              description: The custom message text (max 1200 characters).
          description: Text displayed alongside shipping address collection.
        submit:
          type: object
          properties:
            message:
              type: string
              maxLength: 1200
              description: The custom message text (max 1200 characters).
          description: Text displayed alongside the payment confirmation button.
        terms_of_service_acceptance:
          type: object
          properties:
            message:
              type: string
              maxLength: 1200
              description: The custom message text (max 1200 characters).
          description: Text replacing the default terms of service agreement text.
      description: Custom text displayed at various stages of the checkout flow.
    BillingAppStripeCheckoutSessionMode:
      type: string
      enum:
        - setup
      description: |-
        Stripe Checkout Session mode.

        Determines the primary purpose of the checkout session.
    BillingAppStripeCheckoutSessionUIMode:
      type: string
      enum:
        - embedded
        - hosted
      description: Checkout Session UI mode.
    BillingAppStripeCreateCheckoutSessionBillingAddressCollection:
      type: string
      enum:
        - auto
        - required
      description: Controls whether Checkout collects the customer's billing address.
    BillingAppStripeCreateCheckoutSessionConsentCollection:
      type: object
      properties:
        payment_method_reuse_agreement:
          allOf:
            - $ref: '#/components/schemas/BillingAppStripeCreateCheckoutSessionConsentCollectionPaymentMethodReuseAgreement'
          description: Controls the visibility of payment method reuse agreement.
        promotions:
          allOf:
            - $ref: '#/components/schemas/BillingAppStripeCreateCheckoutSessionConsentCollectionPromotions'
          description: |-
            Enables collection of promotional communication consent.

            Only available to US merchants. When set to "auto", Checkout determines
            whether to show the option based on the customer's locale.
        terms_of_service:
          allOf:
            - $ref: '#/components/schemas/BillingAppStripeCreateCheckoutSessionConsentCollectionTermsOfService'
          description: |-
            Requires customers to accept terms of service before payment.

            Requires a valid terms of service URL in your Stripe Dashboard settings.
      description: Checkout Session consent collection configuration.
    BillingAppStripeCreateCheckoutSessionConsentCollectionPaymentMethodReuseAgreement:
      type: object
      properties:
        position:
          allOf:
            - $ref: '#/components/schemas/BillingAppStripeCreateCheckoutSessionConsentCollectionPaymentMethodReuseAgreementPosition'
          description: Position and visibility of the payment method reuse agreement.
      description: Payment method reuse agreement configuration.
    BillingAppStripeCreateCheckoutSessionConsentCollectionPaymentMethodReuseAgreementPosition:
      type: string
      enum:
        - auto
        - hidden
      description: Position of payment method reuse agreement in the UI.
    BillingAppStripeCreateCheckoutSessionConsentCollectionPromotions:
      type: string
      enum:
        - auto
        - none
      description: Promotional communication consent collection setting.
    BillingAppStripeCreateCheckoutSessionConsentCollectionTermsOfService:
      type: string
      enum:
        - none
        - required
      description: Terms of service acceptance requirement.
    BillingAppStripeCreateCheckoutSessionCustomerUpdate:
      type: object
      properties:
        address:
          allOf:
            - $ref: '#/components/schemas/BillingAppStripeCreateCheckoutSessionCustomerUpdateBehavior'
          description: |-
            Whether to save the billing address to customer.address.

            Defaults to "never".
          default: never
        name:
          allOf:
            - $ref: '#/components/schemas/BillingAppStripeCreateCheckoutSessionCustomerUpdateBehavior'
          description: |-
            Whether to save the customer name to customer.name.

            Defaults to "never".
          default: never
        shipping:
          allOf:
            - $ref: '#/components/schemas/BillingAppStripeCreateCheckoutSessionCustomerUpdateBehavior'
          description: |-
            Whether to save shipping information to customer.shipping.

            Defaults to "never".
          default: never
      description: Controls which customer fields can be updated by the checkout session.
    BillingAppStripeCreateCheckoutSessionCustomerUpdateBehavior:
      type: string
      enum:
        - auto
        - never
      description: Behavior for updating customer fields from checkout session.
    BillingAppStripeCreateCheckoutSessionRedirectOnCompletion:
      type: string
      enum:
        - always
        - if_required
        - never
      description: Redirect behavior for embedded checkout sessions.
    BillingAppStripeCreateCheckoutSessionRequest:
      type: object
      required:
        - customer
        - options
      properties:
        app_id:
          allOf:
            - $ref: '#/components/schemas/ULID'
          description: |-
            The Stripe app ID to use for creating the checkout session.

            If not provided, the default Stripe app will be used if exists.
        customer:
          anyOf:
            - $ref: '#/components/schemas/BillingAppStripeCustomerId'
            - $ref: '#/components/schemas/BillingAppStripeCustomerKey'
            - $ref: '#/components/schemas/BillingAppStripeCustomerCreate'
          description: |-
            Customer identifier for creating or associating the checkout session.

            Can be an existing customer ID, customer key, or customer creation data.
        stripe_customer_id:
          type: string
          description: |-
            Existing Stripe customer ID to use for the checkout session.

            If not provided, a new Stripe customer will be created, or the billing
            system will use the customer's existing default Stripe customer ID if available.
        options:
          allOf:
            - $ref: '#/components/schemas/BillingAppStripeCreateCheckoutSessionRequestOptions'
          description: |-
            Options for configuring the Stripe Checkout Session.

            These options are passed directly to Stripe's checkout session creation API.
            See: https://docs.stripe.com/api/checkout/sessions/create
      description: |-
        Request to create a Stripe Checkout Session.

        Checkout Sessions are used to collect payment method information from customers
        in a secure, Stripe-hosted interface. This integration uses setup mode to collect
        payment methods that can be charged later for subscription billing.
    BillingAppStripeCreateCheckoutSessionRequestOptions:
      type: object
      properties:
        billing_address_collection:
          allOf:
            - $ref: '#/components/schemas/BillingAppStripeCreateCheckoutSessionBillingAddressCollection'
          description: |-
            Whether to collect the customer's billing address.

            Defaults to auto, which only collects the address when necessary for tax calculation.
          default: auto
        cancel_url:
          type: string
          description: |-
            URL to redirect customers who cancel the checkout session.

            Not allowed when ui_mode is "embedded".
        client_reference_id:
          type: string
          description: |-
            Unique reference string for reconciling sessions with internal systems.

            Can be a customer ID, cart ID, or any other identifier.
        customer_update:
          allOf:
            - $ref: '#/components/schemas/BillingAppStripeCreateCheckoutSessionCustomerUpdate'
          description: Controls which customer fields can be updated by the checkout session.
        consent_collection:
          allOf:
            - $ref: '#/components/schemas/BillingAppStripeCreateCheckoutSessionConsentCollection'
          description: Configuration for collecting customer consent during checkout.
        currency:
          allOf:
            - $ref: '#/components/schemas/CurrencyCode'
          description: |-
            Three-letter ISO 4217 currency code in lowercase.

            Required for payment mode sessions. Optional for setup mode sessions.
        custom_text:
          allOf:
            - $ref: '#/components/schemas/BillingAppStripeCheckoutSessionCustomTextParams'
          description: Custom text to display during checkout at various stages.
        expires_at:
          type: integer
          format: int64
          description: |-
            Unix timestamp when the checkout session expires.

            Can be 30 minutes to 24 hours from creation. Defaults to 24 hours.
        locale:
          type: string
          description: |-
            IETF language tag for the checkout UI locale.

            If blank or "auto", uses the browser's locale. Example: "en", "fr", "de".
        metadata:
          type: object
          additionalProperties:
            type: string
          description: |-
            Set of key-value pairs to attach to the checkout session.

            Useful for storing additional structured information.
        return_url:
          type: string
          description: |-
            Return URL for embedded checkout sessions after payment authentication.

            Required if ui_mode is "embedded" and redirect-based payment methods are enabled.
        success_url:
          type: string
          description: |-
            Success URL to redirect customers after completing payment or setup.

            Not allowed when ui_mode is "embedded".
            See: https://docs.stripe.com/payments/checkout/custom-success-page
        ui_mode:
          allOf:
            - $ref: '#/components/schemas/BillingAppStripeCheckoutSessionUIMode'
          description: |-
            The UI mode for the checkout session.

            "hosted" displays a Stripe-hosted page. "embedded" integrates directly into your app.
            Defaults to "hosted".
          default: hosted
        payment_method_types:
          type: array
          items:
            type: string
          description: |-
            List of payment method types to enable (e.g., "card", "us_bank_account").

            If not specified, Stripe enables all relevant payment methods.
        redirect_on_completion:
          allOf:
            - $ref: '#/components/schemas/BillingAppStripeCreateCheckoutSessionRedirectOnCompletion'
          description: |-
            Redirect behavior for embedded checkout sessions.

            Controls when to redirect users after completion.
            See: https://docs.stripe.com/payments/checkout/custom-success-page?payment-ui=embedded-form
        tax_id_collection:
          allOf:
            - $ref: '#/components/schemas/BillingAppStripeCreateCheckoutSessionTaxIdCollection'
          description: Configuration for collecting tax IDs during checkout.
      description: |-
        Configuration options for creating a Stripe Checkout Session.

        Based on Stripe's Checkout Session API parameters.
        See: https://docs.stripe.com/api/checkout/sessions/create
    BillingAppStripeCreateCheckoutSessionResult:
      type: object
      required:
        - customer_id
        - stripe_customer_id
        - session_id
        - setup_intent_id
        - created_at
        - mode
      properties:
        customer_id:
          allOf:
            - $ref: '#/components/schemas/ULID'
          description: The customer ID in the billing system.
        stripe_customer_id:
          type: string
          description: The Stripe customer ID.
        session_id:
          type: string
          description: The Stripe checkout session ID.
        setup_intent_id:
          type: string
          description: The setup intent ID created for collecting the payment method.
        client_secret:
          type: string
          description: |-
            Client secret for initializing Stripe.js on the client side.

            Required for embedded checkout sessions.
            See: https://docs.stripe.com/payments/checkout/custom-success-page
        client_reference_id:
          type: string
          description: |-
            The client reference ID provided in the request.

            Useful for reconciling the session with your internal systems.
        customer_email:
          type: string
          description: Customer's email address if provided to Stripe.
        currency:
          allOf:
            - $ref: '#/components/schemas/CurrencyCode'
          description: Currency code for the checkout session.
        created_at:
          allOf:
            - $ref: '#/components/schemas/DateTime'
          description: Timestamp when the checkout session was created.
        expires_at:
          allOf:
            - $ref: '#/components/schemas/DateTime'
          description: Timestamp when the checkout session will expire.
        metadata:
          type: object
          additionalProperties:
            type: string
          description: Metadata attached to the checkout session.
        status:
          type: string
          description: |-
            The status of the checkout session.

            See: https://docs.stripe.com/api/checkout/sessions/object#checkout_session_object-status
        url:
          type: string
          description: URL to redirect customers to the checkout page (for hosted mode).
        mode:
          allOf:
            - $ref: '#/components/schemas/BillingAppStripeCheckoutSessionMode'
          description: |-
            Mode of the checkout session.

            Currently only "setup" mode is supported for collecting payment methods.
        cancel_url:
          type: string
          description: The cancel URL where customers are redirected if they cancel.
        success_url:
          type: string
          description: The success URL where customers are redirected after completion.
        return_url:
          type: string
          description: The return URL for embedded sessions after authentication.
      description: |-
        Result of creating a Stripe Checkout Session.

        Contains all the information needed to redirect customers to the checkout
        or initialize an embedded checkout flow.
    BillingAppStripeCreateCheckoutSessionTaxIdCollection:
      type: object
      required:
        - enabled
      properties:
        enabled:
          type: boolean
          description: |-
            Enable tax ID collection during checkout.

            Defaults to false.
        required:
          allOf:
            - $ref: '#/components/schemas/BillingAppStripeCreateCheckoutSessionTaxIdCollectionRequired'
          description: |-
            Whether tax ID collection is required.

            Defaults to "never".
      description: Tax ID collection configuration for checkout sessions.
    BillingAppStripeCreateCheckoutSessionTaxIdCollectionRequired:
      type: string
      enum:
        - if_supported
        - never
      description: Tax ID collection requirement level.
    BillingAppStripeCustomerCreate:
      type: object
      required:
        - id
        - name
        - key
        - currency
      properties:
        id:
          allOf:
            - $ref: '#/components/schemas/ULID'
          readOnly: true
        name:
          type: string
          minLength: 1
          maxLength: 256
          description: |-
            Display name of the resource.

            Between 1 and 256 characters.
        description:
          type: string
          maxLength: 1024
          description: |-
            Optional description of the resource.

            Maximum 1024 characters.
        labels:
          $ref: '#/components/schemas/Labels'
        created_at:
          allOf:
            - $ref: '#/components/schemas/DateTime'
          description: An ISO-8601 timestamp representation of entity creation date.
          readOnly: true
        updated_at:
          allOf:
            - $ref: '#/components/schemas/DateTime'
          description: An ISO-8601 timestamp representation of entity last update date.
          readOnly: true
        deleted_at:
          allOf:
            - $ref: '#/components/schemas/DateTime'
          description: An ISO-8601 timestamp representation of entity deletion date.
          readOnly: true
        key:
          $ref: '#/components/schemas/ExternalResourceKey'
        usage_attribution:
          allOf:
            - $ref: '#/components/schemas/BillingCustomerUsageAttribution'
          description: Mapping to attribute metered usage to the customer by the event subject.
          title: Usage Attribution
        primary_email:
          type: string
          description: The primary email address of the customer.
          title: Primary Email
        billing_address:
          allOf:
            - $ref: '#/components/schemas/BillingAddress'
          description: |-
            The billing address of the customer.
            Used for tax and invoicing.
          title: Billing Address
        currency:
          allOf:
            - $ref: '#/components/schemas/CurrencyCode'
          description: The customer's primary currency for billing.
      description: Customer creation data for new customers during checkout session creation.
    BillingAppStripeCustomerId:
      type: object
      required:
        - id
      properties:
        id:
          allOf:
            - $ref: '#/components/schemas/ULID'
          description: The customer's unique identifier (ULID).
      description: Reference to an existing customer by ID.
    BillingAppStripeCustomerKey:
      type: object
      required:
        - key
      properties:
        key:
          allOf:
            - $ref: '#/components/schemas/ExternalResourceKey'
          description: The customer's unique key.
      description: Reference to an existing customer by key.
    BillingAppStripeWebhookEvent:
      type: object
      required:
        - id
        - type
        - livemode
        - created
        - data
      properties:
        id:
          type: string
          description: Unique identifier for the event.
        type:
          type: string
          description: |-
            The type of event (e.g., "payment_intent.succeeded", "invoice.paid").

            See Stripe's documentation for the full list of event types:
            https://docs.stripe.com/api/events/types
        livemode:
          type: boolean
          description: Indicates whether the event occurred in live mode or test mode.
        created:
          type: integer
          format: int32
          description: Unix timestamp when the event was created.
        data:
          type: object
          properties:
            object: {}
          required:
            - object
          description: |-
            Object containing the event's data payload.

            The structure varies by event type and is validated using the
            Stripe SDK which handles API versioning.
      description: |-
        Stripe webhook event received from Stripe's webhook system.

        Stripe sends webhook events to notify the billing system about asynchronous events.
    BillingAppStripeWebhookResponse:
      type: object
      required:
        - namespace_id
        - app_id
      properties:
        namespace_id:
          allOf:
            - $ref: '#/components/schemas/ULID'
          description: The namespace ID where the event was processed.
        app_id:
          allOf:
            - $ref: '#/components/schemas/ULID'
          description: The Stripe app ID that handled the webhook.
        customer_id:
          allOf:
            - $ref: '#/components/schemas/ULID'
          description: The customer ID if the event was related to a specific customer.
        message:
          type: string
          description: Optional message providing additional context about the webhook processing.
      description: Response returned after processing a Stripe webhook.
    BillingAppType:
      type: string
      enum:
        - sandbox
        - stripe
        - custom_invoicing
      description: The type of the app.
    BillingCustomer:
      type: object
      required:
        - id
        - name
        - key
      properties:
        id:
          allOf:
            - $ref: '#/components/schemas/ULID'
          readOnly: true
        name:
          type: string
          minLength: 1
          maxLength: 256
          description: |-
            Display name of the resource.

            Between 1 and 256 characters.
        description:
          type: string
          maxLength: 1024
          description: |-
            Optional description of the resource.

            Maximum 1024 characters.
        labels:
          $ref: '#/components/schemas/Labels'
        created_at:
          allOf:
            - $ref: '#/components/schemas/DateTime'
          description: An ISO-8601 timestamp representation of entity creation date.
          readOnly: true
        updated_at:
          allOf:
            - $ref: '#/components/schemas/DateTime'
          description: An ISO-8601 timestamp representation of entity last update date.
          readOnly: true
        deleted_at:
          allOf:
            - $ref: '#/components/schemas/DateTime'
          description: An ISO-8601 timestamp representation of entity deletion date.
          readOnly: true
        key:
          $ref: '#/components/schemas/ExternalResourceKey'
        usage_attribution:
          allOf:
            - $ref: '#/components/schemas/BillingCustomerUsageAttribution'
          description: Mapping to attribute metered usage to the customer by the event subject.
          title: Usage Attribution
        primary_email:
          type: string
          description: The primary email address of the customer.
          title: Primary Email
        currency:
          allOf:
            - $ref: '#/components/schemas/CurrencyCode'
          description: |-
            Currency of the customer.
            Used for billing, tax and invoicing.
          title: Currency
        billing_address:
          allOf:
            - $ref: '#/components/schemas/BillingAddress'
          description: |-
            The billing address of the customer.
            Used for tax and invoicing.
          title: Billing Address
      description: Customers can be individuals or organizations that can subscribe to plans and have access to features.
    BillingCustomerUsageAttribution:
      type: object
      required:
        - subject_keys
      properties:
        subject_keys:
          type: array
          items:
            $ref: '#/components/schemas/UsageAttributionSubjectKey'
          minItems: 0
          description: |-
            The subjects that are attributed to the customer.
            Can be empty when no usage event subjects are associated with the customer.
          title: Subject Keys
      description: |-
        Mapping to attribute metered usage to the customer.
        One customer can have zero or more subjects,
        but one subject can only belong to one customer.
    BillingEntitlementAccessResult:
      type: object
      required:
        - type
        - feature_key
        - has_access
      properties:
        type:
          allOf:
            - $ref: '#/components/schemas/BillingEntitlementType'
          description: The type of the entitlement.
          example: static
          readOnly: true
        feature_key:
          allOf:
            - $ref: '#/components/schemas/ResourceKey'
          description: The feature key of the entitlement.
          example: available_models
          readOnly: true
        has_access:
          type: boolean
          description: |-
            Whether the customer has access to the feature.
            Always true for `boolean` and `static` entitlements.
            Depends on balance for `metered` entitlements.
          example: true
          readOnly: true
        config:
          type: string
          description: |-
            Only available for static entitlements.
            Config is the JSON parsable configuration of the entitlement.
            Useful to describe per customer configuration.
          example: '{ "availableModels": ["gpt-5", "gpt-4o"] }'
          readOnly: true
      description: Entitlement access result.
    BillingEntitlementType:
      type: string
      enum:
        - metered
        - static
        - boolean
      description: The type of the entitlement.
    BillingInvoiceNumber:
      type: string
      minLength: 1
      maxLength: 256
      description: |-
        InvoiceNumber is a unique identifier for the invoice, generated by the
        invoicing app.

        The uniqueness depends on a lot of factors:
        - app setting (unique per app or unique per customer)
        - multiple app scenarios (multiple apps generating invoices with the same prefix)
      example: INV-2024-01-01-01
    BillingSubscription:
      type: object
      required:
        - id
        - customer_id
        - billing_anchor
        - status
      properties:
        id:
          allOf:
            - $ref: '#/components/schemas/ULID'
          readOnly: true
        labels:
          $ref: '#/components/schemas/Labels'
        created_at:
          allOf:
            - $ref: '#/components/schemas/DateTime'
          description: An ISO-8601 timestamp representation of entity creation date.
          readOnly: true
        updated_at:
          allOf:
            - $ref: '#/components/schemas/DateTime'
          description: An ISO-8601 timestamp representation of entity last update date.
          readOnly: true
        deleted_at:
          allOf:
            - $ref: '#/components/schemas/DateTime'
          description: An ISO-8601 timestamp representation of entity deletion date.
          readOnly: true
        customer_id:
          allOf:
            - $ref: '#/components/schemas/ULID'
          description: The customer ID of the subscription.
          title: Customer ID
          readOnly: true
        plan_id:
          allOf:
            - $ref: '#/components/schemas/ULID'
          description: |-
            The plan ID of the subscription.
            Set if subscription is created from a plan.
          title: Plan ID
          readOnly: true
        billing_anchor:
          allOf:
            - $ref: '#/components/schemas/DateTime'
          description: |-
            A billing anchor is the fixed point in time that determines the subscription's recurring billing cycle.
            It affects when charges occur and how prorations are calculated.
            Common anchors:
            - Calendar month (1st of each month): `2025-01-01T00:00:00Z`
            - Subscription anniversary (day customer signed up)
            - Custom date (customer-specified day)
          title: Billing anchor
          readOnly: true
        status:
          allOf:
            - $ref: '#/components/schemas/BillingSubscriptionStatus'
          description: The status of the subscription.
          title: Status
          readOnly: true
      description: Subscription.
    BillingSubscriptionCancel:
      type: object
      properties:
        timing:
          allOf:
            - $ref: '#/components/schemas/BillingSubscriptionEditTiming'
          description: If not provided the subscription is canceled immediately.
          default: immediate
      description: Request for canceling a subscription.
    BillingSubscriptionChange:
      type: object
      required:
        - customer
        - plan
        - timing
      properties:
        labels:
          $ref: '#/components/schemas/Labels'
        customer:
          type: object
          properties:
            id:
              allOf:
                - $ref: '#/components/schemas/ULID'
              description: |-
                The ID of the customer to create the subscription for.

                Either customer ID or customer key must be provided.
                If both are provided, the ID will be used.
              title: Customer ID
            key:
              allOf:
                - $ref: '#/components/schemas/ExternalResourceKey'
              description: |-
                The key of the customer to create the subscription for.

                Either customer ID or customer key must be provided.
                If both are provided, the ID will be used.
              title: Customer Key
          description: The customer to create the subscription for.
        plan:
          type: object
          properties:
            id:
              allOf:
                - $ref: '#/components/schemas/ULID'
              description: |-
                The plan ID of the subscription.
                Set if subscription is created from a plan.

                ID or Key of the plan is required if creating a subscription from a plan.
                If both are provided, the ID will be used.
              title: Plan ID
            key:
              allOf:
                - $ref: '#/components/schemas/ResourceKey'
              description: |-
                The plan Key of the subscription, if any.
                Set if subscription is created from a plan.

                ID or Key of the plan is required if creating a subscription from a plan.
                If both are provided, the ID will be used.
              title: Plan Key
            version:
              type: integer
              description: |-
                The plan version of the subscription, if any.
                If not provided, the latest version of the plan will be used.
              title: Plan Version
          description: The plan reference of the subscription.
        billing_anchor:
          allOf:
            - $ref: '#/components/schemas/DateTime'
          description: |-
            A billing anchor is the fixed point in time that determines the subscription's recurring billing cycle.
            It affects when charges occur and how prorations are calculated.
            Common anchors:
            - Calendar month (1st of each month): `2025-01-01T00:00:00Z`
            - Subscription anniversary (day customer signed up)
            - Custom date (customer-specified day)

            If not provided, the subscription will be created with the subscription's creation time as the billing anchor.
          title: Billing anchor
        timing:
          allOf:
            - $ref: '#/components/schemas/BillingSubscriptionEditTiming'
          description: |-
            Timing configuration for the change, when the change should take effect.
            For changing a subscription, the accepted values depend on the subscription configuration.
      description: Request for changing a subscription.
    BillingSubscriptionChangeResponse:
      type: object
      required:
        - current
        - next
      properties:
        current:
          allOf:
            - $ref: '#/components/schemas/BillingSubscription'
          description: The current subscription before the change.
        next:
          allOf:
            - $ref: '#/components/schemas/BillingSubscription'
          description: The new state of the subscription after the change.
      description: Response for changing a subscription.
    BillingSubscriptionCreate:
      type: object
      required:
        - customer
        - plan
      properties:
        labels:
          $ref: '#/components/schemas/Labels'
        customer:
          type: object
          properties:
            id:
              allOf:
                - $ref: '#/components/schemas/ULID'
              description: |-
                The ID of the customer to create the subscription for.

                Either customer ID or customer key must be provided.
                If both are provided, the ID will be used.
              title: Customer ID
            key:
              allOf:
                - $ref: '#/components/schemas/ExternalResourceKey'
              description: |-
                The key of the customer to create the subscription for.

                Either customer ID or customer key must be provided.
                If both are provided, the ID will be used.
              title: Customer Key
          description: The customer to create the subscription for.
        plan:
          type: object
          properties:
            id:
              allOf:
                - $ref: '#/components/schemas/ULID'
              description: |-
                The plan ID of the subscription.
                Set if subscription is created from a plan.

                ID or Key of the plan is required if creating a subscription from a plan.
                If both are provided, the ID will be used.
              title: Plan ID
            key:
              allOf:
                - $ref: '#/components/schemas/ResourceKey'
              description: |-
                The plan Key of the subscription, if any.
                Set if subscription is created from a plan.

                ID or Key of the plan is required if creating a subscription from a plan.
                If both are provided, the ID will be used.
              title: Plan Key
            version:
              type: integer
              description: |-
                The plan version of the subscription, if any.
                If not provided, the latest version of the plan will be used.
              title: Plan Version
          description: The plan reference of the subscription.
        billing_anchor:
          allOf:
            - $ref: '#/components/schemas/DateTime'
          description: |-
            A billing anchor is the fixed point in time that determines the subscription's recurring billing cycle.
            It affects when charges occur and how prorations are calculated.
            Common anchors:
            - Calendar month (1st of each month): `2025-01-01T00:00:00Z`
            - Subscription anniversary (day customer signed up)
            - Custom date (customer-specified day)

            If not provided, the subscription will be created with the subscription's creation time as the billing anchor.
          title: Billing anchor
      description: Subscription create request.
    BillingSubscriptionEditTiming:
      oneOf:
        - $ref: '#/components/schemas/BillingSubscriptionEditTimingEnum'
        - $ref: '#/components/schemas/DateTime'
      description: |-
        Subscription edit timing defined when the changes should take effect.
        If the provided configuration is not supported by the subscription, an error will be returned.
      example: immediate
    BillingSubscriptionEditTimingEnum:
      type: string
      enum:
        - immediate
        - next_billing_cycle
      description: |-
        Subscription edit timing.
        When immediate, the requested changes take effect immediately.
        When next_billing_cycle, the requested changes take effect at the next billing cycle.
    BillingSubscriptionStatus:
      type: string
      enum:
        - active
        - inactive
        - canceled
        - scheduled
      description: Subscription status.
    CountryCode:
      type: string
      minLength: 2
      maxLength: 2
      pattern: ^[A-Z]{2}$
      description: |-
        [ISO 3166-1](https://www.iso.org/iso-3166-country-codes.html) alpha-2 country code.
        Custom two-letter country codes are also supported for convenience.
      example: US
    CreateCustomerRequest:
      type: object
      required:
        - name
        - key
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 256
          description: |-
            Display name of the resource.

            Between 1 and 256 characters.
        description:
          type: string
          maxLength: 1024
          description: |-
            Optional description of the resource.

            Maximum 1024 characters.
        labels:
          $ref: '#/components/schemas/Labels'
        key:
          $ref: '#/components/schemas/ExternalResourceKey'
        usage_attribution:
          allOf:
            - $ref: '#/components/schemas/BillingCustomerUsageAttribution'
          description: Mapping to attribute metered usage to the customer by the event subject.
          title: Usage Attribution
        primary_email:
          type: string
          description: The primary email address of the customer.
          title: Primary Email
        currency:
          allOf:
            - $ref: '#/components/schemas/CurrencyCode'
          description: |-
            Currency of the customer.
            Used for billing, tax and invoicing.
          title: Currency
        billing_address:
          allOf:
            - $ref: '#/components/schemas/BillingAddress'
          description: |-
            The billing address of the customer.
            Used for tax and invoicing.
          title: Billing Address
      description: Customer create request.
    CreateMeterRequest:
      type: object
      required:
        - name
        - key
        - aggregation
        - event_type
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 256
          description: |-
            Display name of the resource.

            Between 1 and 256 characters.
        description:
          type: string
          maxLength: 1024
          description: |-
            Optional description of the resource.

            Maximum 1024 characters.
        labels:
          $ref: '#/components/schemas/Labels'
        key:
          $ref: '#/components/schemas/ResourceKey'
        aggregation:
          allOf:
            - $ref: '#/components/schemas/MeterAggregation'
          description: The aggregation type to use for the meter.
        event_type:
          type: string
          minLength: 1
          description: The event type to include in the aggregation.
          example: prompt
        events_from:
          allOf:
            - $ref: '#/components/schemas/DateTime'
          description: |-
            The date since the meter should include events.
            Useful to skip old events.
            If not specified, all historical events are included.
        value_property:
          type: string
          minLength: 1
          description: |-
            JSONPath expression to extract the value from the ingested event's data property.

            The ingested value for sum, avg, min, and max aggregations is a number or a string that can be parsed to a number.

            For unique_count aggregation, the ingested value must be a string. For count aggregation the value_property is ignored.
          example: $.tokens
        dimensions:
          type: object
          additionalProperties:
            type: string
          description: |-
            Named JSONPath expressions to extract the group by values from the event data.

            Keys must be unique and consist only alphanumeric and underscore characters.
          example:
            type: $.type
      description: Meter create request.
    CurrencyCode:
      type: string
      minLength: 3
      maxLength: 3
      pattern: ^[A-Z]{3}$
      description: |-
        Three-letter [ISO4217](https://www.iso.org/iso-4217-currency-codes.html) currency code.
        Custom three-letter currency codes are also supported for convenience.
      example: USD
    CustomerPagePaginatedResponse:
      type: object
      required:
        - data
        - meta
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/BillingCustomer'
        meta:
          $ref: '#/components/schemas/PaginatedMeta'
      description: Page paginated response.
    DateTime:
      type: string
      format: date-time
      description: '[RFC3339](https://tools.ietf.org/html/rfc3339) formatted date-time string in UTC.'
      title: RFC3339 Date-Time
      example: '2023-01-01T01:01:01.001Z'
    ExternalResourceKey:
      type: string
      minLength: 1
      maxLength: 256
      description: ExternalResourceKey is a unique string that is used to identify a resource in an external system.
      title: External Resource Key
      example: 019ae40f-4258-7f15-9491-842f42a7d6ac
    ListCustomerEntitlementAccessResponseData:
      type: object
      required:
        - data
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/BillingEntitlementAccessResult'
          description: The list of entitlement access results.
          readOnly: true
      description: List customer entitlement access response data.
    ListCustomersParamsFilter:
      type: object
      properties:
        key:
          allOf:
            - $ref: '#/components/schemas/ExternalResourceKey'
          description: |-
            Filter customers by key.
            Case-insensitive partial match.
      description: Filter options for listing customers.
    Meter:
      type: object
      required:
        - id
        - name
        - key
        - aggregation
        - event_type
      properties:
        id:
          allOf:
            - $ref: '#/components/schemas/ULID'
          readOnly: true
        name:
          type: string
          minLength: 1
          maxLength: 256
          description: |-
            Display name of the resource.

            Between 1 and 256 characters.
        description:
          type: string
          maxLength: 1024
          description: |-
            Optional description of the resource.

            Maximum 1024 characters.
        labels:
          $ref: '#/components/schemas/Labels'
        created_at:
          allOf:
            - $ref: '#/components/schemas/DateTime'
          description: An ISO-8601 timestamp representation of entity creation date.
          readOnly: true
        updated_at:
          allOf:
            - $ref: '#/components/schemas/DateTime'
          description: An ISO-8601 timestamp representation of entity last update date.
          readOnly: true
        deleted_at:
          allOf:
            - $ref: '#/components/schemas/DateTime'
          description: An ISO-8601 timestamp representation of entity deletion date.
          readOnly: true
        key:
          $ref: '#/components/schemas/ResourceKey'
        aggregation:
          allOf:
            - $ref: '#/components/schemas/MeterAggregation'
          description: The aggregation type to use for the meter.
        event_type:
          type: string
          minLength: 1
          description: The event type to include in the aggregation.
          example: prompt
        events_from:
          allOf:
            - $ref: '#/components/schemas/DateTime'
          description: |-
            The date since the meter should include events.
            Useful to skip old events.
            If not specified, all historical events are included.
        value_property:
          type: string
          minLength: 1
          description: |-
            JSONPath expression to extract the value from the ingested event's data property.

            The ingested value for sum, avg, min, and max aggregations is a number or a string that can be parsed to a number.

            For unique_count aggregation, the ingested value must be a string. For count aggregation the value_property is ignored.
          example: $.tokens
        dimensions:
          type: object
          additionalProperties:
            type: string
          description: |-
            Named JSONPath expressions to extract the group by values from the event data.

            Keys must be unique and consist only alphanumeric and underscore characters.
          example:
            type: $.type
      description: A meter is a configuration that defines how to match and aggregate events.
      example:
        id: 01G65Z755AFWAKHE12NY0CQ9FH
        key: tokens_total
        name: Tokens Total
        description: AI Token Usage
        aggregation: sum
        event_type: prompt
        value_property: $.tokens
        dimensions:
          model: $.model
          type: $.type
        created_at: '2024-01-01T01:01:01.001Z'
        updated_at: '2024-01-01T01:01:01.001Z'
    MeterAggregation:
      type: string
      enum:
        - sum
        - count
        - unique_count
        - avg
        - min
        - max
        - latest
      description: The aggregation type to use for the meter.
    MeterPagePaginatedResponse:
      type: object
      required:
        - data
        - meta
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Meter'
        meta:
          $ref: '#/components/schemas/PaginatedMeta'
      description: Page paginated response.
    MeteringEvent:
      type: object
      required:
        - id
        - source
        - specversion
        - type
        - subject
      properties:
        id:
          type: string
          minLength: 1
          description: Identifies the event.
          example: 5c10fade-1c9e-4d6c-8275-c52c36731d3c
        source:
          type: string
          minLength: 1
          format: uri-reference
          description: Identifies the context in which an event happened.
          example: service-name
        specversion:
          type: string
          minLength: 1
          description: The version of the CloudEvents specification which the event uses.
          example: '1.0'
          default: '1.0'
        type:
          type: string
          minLength: 1
          description: Contains a value describing the type of event related to the originating occurrence.
          example: com.example.someevent
        datacontenttype:
          type: string
          enum:
            - application/json
          nullable: true
          description: Content type of the CloudEvents data value. Only the value "application/json" is allowed over HTTP.
          example: application/json
        dataschema:
          type: string
          format: uri
          nullable: true
          minLength: 1
          description: Identifies the schema that data adheres to.
        subject:
          type: string
          minLength: 1
          description: Describes the subject of the event in the context of the event producer (identified by source).
          example: customer-id
        time:
          type: string
          allOf:
            - $ref: '#/components/schemas/DateTime'
          nullable: true
          description: Timestamp of when the occurrence happened. Must adhere to RFC 3339.
          example: '2023-01-01T01:01:01.001Z'
        data:
          type: object
          additionalProperties: {}
          nullable: true
          description: |-
            The event payload.
            Optional, if present it must be a JSON object.
      description: Metering event following the CloudEvents specification.
      title: Metering Event
      example:
        specversion: '1.0'
        id: 5c10fade-1c9e-4d6c-8275-c52c36731d3c
        source: service-name
        type: prompt
        subject: customer-id
        time: '2023-01-01T01:01:01.001Z'
        data:
          prompt: Hello, world!
          tokens: 100
          model: gpt-4o
          type: input
    ResourceKey:
      type: string
      minLength: 1
      maxLength: 64
      pattern: ^[a-z0-9]+(?:_[a-z0-9]+)*$
      description: A key is a unique string that is used to identify a resource.
      title: Resource Key
      example: resource_key
    SubscriptionPagePaginatedResponse:
      type: object
      required:
        - data
        - meta
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/BillingSubscription'
        meta:
          $ref: '#/components/schemas/PaginatedMeta'
      description: Page paginated response.
    ULID:
      type: string
      pattern: ^[0-7][0-9A-HJKMNP-TV-Z]{25}$
      description: ULID (Universally Unique Lexicographically Sortable Identifier).
      title: ULID
      example: 01G65Z755AFWAKHE12NY0CQ9FH
    UpsertCustomerRequest:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 256
          description: |-
            Display name of the resource.

            Between 1 and 256 characters.
        description:
          type: string
          maxLength: 1024
          description: |-
            Optional description of the resource.

            Maximum 1024 characters.
        labels:
          $ref: '#/components/schemas/Labels'
        usage_attribution:
          allOf:
            - $ref: '#/components/schemas/BillingCustomerUsageAttribution'
          description: Mapping to attribute metered usage to the customer by the event subject.
          title: Usage Attribution
        primary_email:
          type: string
          description: The primary email address of the customer.
          title: Primary Email
        currency:
          allOf:
            - $ref: '#/components/schemas/CurrencyCode'
          description: |-
            Currency of the customer.
            Used for billing, tax and invoicing.
          title: Currency
        billing_address:
          allOf:
            - $ref: '#/components/schemas/BillingAddress'
          description: |-
            The billing address of the customer.
            Used for tax and invoicing.
          title: Billing Address
      description: Customer upsert request.
    UsageAttributionSubjectKey:
      type: string
      minLength: 1
      description: Subject key.
    PageMeta:
      type: object
      description: Contains pagination query parameters and the total number of objects returned.
      required:
        - number
        - size
        - total
      properties:
        number:
          type: number
          example: 1
          x-speakeasy-terraform-ignore: true
        size:
          type: number
          example: 10
          x-speakeasy-terraform-ignore: true
        total:
          type: number
          example: 100
          x-speakeasy-terraform-ignore: true
    PaginatedMeta:
      type: object
      title: PaginatedMeta
      x-speakeasy-terraform-ignore: true
      description: returns the pagination information
      properties:
        page:
          $ref: '#/components/schemas/PageMeta'
      required:
        - page
    BaseError:
      type: object
      title: Error
      description: standard error
      required:
        - status
        - title
        - instance
        - detail
      properties:
        status:
          type: integer
          description: |
            The HTTP status code of the error. Useful when passing the response
            body to child properties in a frontend UI. Must be returned as an integer.
          readOnly: true
        title:
          type: string
          description: |
            A short, human-readable summary of the problem. It should not
            change between occurences of a problem, except for localization.
            Should be provided as "Sentence case" for direct use in the UI.
          readOnly: true
        type:
          type: string
          description: The error type.
          readOnly: true
        instance:
          type: string
          description: |
            Used to return the correlation ID back to the user, in the format
            kong:trace:<correlation_id>. This helps us find the relevant logs
            when a customer reports an issue.
          readOnly: true
        detail:
          type: string
          description: |
            A human readable explanation specific to this occurence of the problem.
            This field may contain request/entity data to help the user understand
            what went wrong. Enclose variable values in square brackets. Should be
            provided as "Sentence case" for direct use in the UI.
          readOnly: true
    InvalidRules:
      description: invalid parameters rules
      type: string
      readOnly: true
      nullable: true
      enum:
        - required
        - is_array
        - is_base64
        - is_boolean
        - is_date_time
        - is_integer
        - is_null
        - is_number
        - is_object
        - is_string
        - is_uuid
        - is_fqdn
        - is_arn
        - unknown_property
        - missing_reference
        - is_label
        - matches_regex
        - invalid
        - is_supported_network_availability_zone_list
        - is_supported_network_cidr_block
        - is_supported_provider_region
        - type
    InvalidParameterStandard:
      type: object
      additionalProperties: false
      properties:
        field:
          type: string
          example: name
          readOnly: true
        rule:
          $ref: '#/components/schemas/InvalidRules'
        source:
          type: string
          example: body
        reason:
          type: string
          example: is a required field
          readOnly: true
      required:
        - field
        - reason
    InvalidParameterMinimumLength:
      type: object
      additionalProperties: false
      properties:
        field:
          type: string
          example: name
          readOnly: true
        rule:
          description: invalid parameters rules
          type: string
          readOnly: true
          nullable: false
          enum:
            - min_length
            - min_digits
            - min_lowercase
            - min_uppercase
            - min_symbols
            - min_items
            - min
        minimum:
          type: integer
          example: 8
        source:
          type: string
          example: body
        reason:
          type: string
          example: must have at least 8 characters
          readOnly: true
      required:
        - field
        - reason
        - rule
        - minimum
    InvalidParameterMaximumLength:
      type: object
      additionalProperties: false
      properties:
        field:
          type: string
          example: name
          readOnly: true
        rule:
          description: invalid parameters rules
          type: string
          readOnly: true
          nullable: false
          enum:
            - max_length
            - max_items
            - max
        maximum:
          type: integer
          example: 8
        source:
          type: string
          example: body
        reason:
          type: string
          example: must not have more than 8 characters
          readOnly: true
      required:
        - field
        - reason
        - rule
        - maximum
    InvalidParameterChoiceItem:
      type: object
      additionalProperties: false
      properties:
        field:
          type: string
          example: name
          readOnly: true
        rule:
          description: invalid parameters rules
          type: string
          readOnly: true
          nullable: false
          enum:
            - enum
        reason:
          type: string
          example: is a required field
          readOnly: true
        choices:
          type: array
          uniqueItems: true
          readOnly: true
          nullable: false
          minItems: 1
          items: {}
        source:
          type: string
          example: body
      required:
        - field
        - reason
        - rule
        - choices
    InvalidParameterDependentItem:
      type: object
      additionalProperties: false
      properties:
        field:
          type: string
          example: name
          readOnly: true
        rule:
          description: invalid parameters rules
          type: string
          readOnly: true
          nullable: true
          enum:
            - dependent_fields
        reason:
          type: string
          example: is a required field
          readOnly: true
        dependents:
          type: array
          uniqueItems: true
          nullable: true
          items: {}
          readOnly: true
        source:
          type: string
          example: body
      required:
        - field
        - rule
        - reason
        - dependents
    InvalidParameters:
      type: array
      nullable: false
      uniqueItems: true
      minItems: 1
      description: invalid parameters
      items:
        oneOf:
          - $ref: '#/components/schemas/InvalidParameterStandard'
          - $ref: '#/components/schemas/InvalidParameterMinimumLength'
          - $ref: '#/components/schemas/InvalidParameterMaximumLength'
          - $ref: '#/components/schemas/InvalidParameterChoiceItem'
          - $ref: '#/components/schemas/InvalidParameterDependentItem'
    BadRequestError:
      allOf:
        - $ref: '#/components/schemas/BaseError'
        - type: object
          required:
            - invalid_parameters
          properties:
[...]
