openapi: 3.0.0
info:
  title: OpenMeter API
  version: 1.0.0
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://openmeter.cloud/terms-of-service
  description: |-
    OpenMeter is a cloud native usage metering and billing service.
    The OpenMeter API allows you to ingest events, query meter usage, and manage resources.
servers:
  - url: https://openmeter.cloud/api/v3
    description: Cloud
    variables: {}
tags:
  - name: OpenMeter Billing
    description: Billing manages the billing profiles, and invoices for customers.
  - name: OpenMeter Apps
    description: Apps enable you to extend and customize billing and usage workflows by integrating with external systems and services. Apps can automate and enhance your billing ecosystem by supporting capabilities such as synchronizing usage data with third-party platforms, calculating taxes, generating and delivering invoices, handling payment collection, and other billing-related tasks.
  - name: OpenMeter Entitlements
    description: Entitlements are used to control access to features for customers.
  - name: OpenMeter Subscriptions
    description: Subscriptions are used to track usage of your product or service. Subscriptions can be individuals or organizations that can subscribe to plans and have access to features.
  - name: OpenMeter Customers
    description: Customers are used to track usage of your product or service. Customers can be individuals or organizations that can subscribe to plans and have access to features.
  - name: Metering Events
    description: Metering events are used to track usage of your product or service. Events are processed asynchronously by the meters, so they may not be immediately available for querying.
  - name: Meters
    description: Meters specify how to aggregate events for billing and analytics purposes. Meters can be configured with multiple aggregation methods and groupings. Multiple meters can be created for the same event type, enabling flexible metering scenarios.
paths:
  /openmeter/apps:
    get:
      operationId: list-apps
      summary: List apps
      description: List installed apps.
      parameters:
        - $ref: '#/components/parameters/PagePaginationQuery'
      responses:
        '200':
          description: Page paginated response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppPagePaginatedResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - OpenMeter Apps
  /openmeter/apps/{appId}:
    get:
      operationId: get-app
      summary: Get app
      description: Get an installed app.
      parameters:
        - name: appId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '200':
          description: App response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingApp'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Apps
  /openmeter/customers:
    post:
      operationId: create-customer
      summary: Create customer
      responses:
        '201':
          description: Customer created response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingCustomer'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - OpenMeter Customers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomerRequest'
    get:
      operationId: list-customers
      summary: List customers
      parameters:
        - $ref: '#/components/parameters/PagePaginationQuery'
        - name: sort
          in: query
          required: false
          description: |-
            Sort customers returned in the response.
            Supported sort attributes are:
            - `id`
            - `name` (default)
            - `created_at`

            The `asc` suffix is optional as the default sort order is ascending.
            The `desc` suffix is used to specify a descending order.
          schema:
            $ref: '#/components/schemas/SortQuery'
          explode: false
          style: form
        - name: filter
          in: query
          required: false
          description: |-
            Filter customers returned in the response.

            To filter customers by key add the following query param: filter[key]=my-db-id
          schema:
            $ref: '#/components/schemas/ListCustomersParamsFilter'
          style: deepObject
      responses:
        '200':
          description: Page paginated response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerPagePaginatedResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - OpenMeter Customers
  /openmeter/customers/{customerId}:
    get:
      operationId: get-customer
      summary: Get customer
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '200':
          description: Customer response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingCustomer'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Customers
    put:
      operationId: upsert-customer
      summary: Upsert customer
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '200':
          description: Customer upsert response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingCustomer'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/Gone'
      tags:
        - OpenMeter Customers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertCustomerRequest'
    delete:
      operationId: delete-customer
      summary: Delete customer
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '204':
          description: Deleted response.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Customers
  /openmeter/customers/{customerId}/billing:
    get:
      operationId: get-customer-billing
      summary: Get customer billing data
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '200':
          description: CustomerBillingData response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingCustomerData'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Customers
    put:
      operationId: update-customer-billing
      summary: Update customer billing data
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '200':
          description: CustomerBillingData upsert response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingCustomerData'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/Gone'
      tags:
        - OpenMeter Customers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertCustomerBillingDataRequest'
  /openmeter/customers/{customerId}/billing/app-data:
    put:
      operationId: update-customer-billing-app-data
      summary: Update customer billing app data
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '200':
          description: AppCustomerData upsert response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingAppCustomerData'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/Gone'
      tags:
        - OpenMeter Customers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertAppCustomerDataRequest'
  /openmeter/customers/{customerId}/billing/stripe/checkout-sessions:
    post:
      operationId: create-customer-stripe-checkout-session
      summary: Create Stripe Checkout Session
      description: |-
        Create a [Stripe Checkout Session](https://docs.stripe.com/payments/checkout) for the customer.

        Creates a Checkout Session for collecting payment method information from customers.
        The session operates in "setup" mode, which collects payment details without charging
        the customer immediately. The collected payment method can be used for future
        subscription billing.

        For hosted checkout sessions, redirect customers to the returned URL. For embedded
        sessions, use the client_secret to initialize Stripe.js in your application.
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '201':
          description: CreateStripeCheckoutSessionResult created response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingAppStripeCreateCheckoutSessionResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Customers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingCustomerStripeCreateCheckoutSessionRequest'
  /openmeter/customers/{customerId}/billing/stripe/portal-sessions:
    post:
      operationId: create-customer-stripe-portal-session
      summary: Create Stripe customer portal session
      description: |-
        Create Stripe Customer Portal Session.

        Useful to redirect the customer to the Stripe Customer Portal to manage their payment methods,
        change their billing address and access their invoice history.
        Only returns URL if the customer billing profile is linked to a stripe app and customer.
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '201':
          description: CreateStripeCustomerPortalSessionResult created response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingAppStripeCreateCustomerPortalSessionResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/Gone'
      tags:
        - OpenMeter Customers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingCustomerStripeCreateCustomerPortalSessionRequest'
  /openmeter/customers/{customerId}/entitlement-access:
    get:
      operationId: list-customer-entitlement-access
      summary: List customer entitlement access
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '200':
          description: List the customer's active features and their access.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCustomerEntitlementAccessResponseData'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Entitlements
  /openmeter/events:
    post:
      operationId: ingest-metering-events
      description: Ingests an event or batch of events following the CloudEvents specification.
      summary: Ingest metering events
      responses:
        '202':
          description: The events have been ingested and are being processed asynchronously.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Metering Events
      requestBody:
        required: true
        content:
          application/cloudevents+json:
            schema:
              $ref: '#/components/schemas/MeteringEvent'
          application/cloudevents-batch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/MeteringEvent'
          application/json:
            schema:
              anyOf:
                - $ref: '#/components/schemas/MeteringEvent'
                - type: array
                  items:
                    $ref: '#/components/schemas/MeteringEvent'
  /openmeter/meters:
    post:
      operationId: create-meter
      summary: Create meter
      description: Create a meter.
      responses:
        '201':
          description: Meter created response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Meter'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Meters
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMeterRequest'
    get:
      operationId: list-meters
      summary: List meters
      description: List meters.
      parameters:
        - $ref: '#/components/parameters/PagePaginationQuery'
      responses:
        '200':
          description: Page paginated response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeterPagePaginatedResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Meters
  /openmeter/meters/{meterId}:
    get:
      operationId: get-meter
      summary: Get meter
      description: Get a meter by ID.
      parameters:
        - name: meterId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '200':
          description: Meter response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Meter'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Meters
    delete:
      operationId: delete-meter
      summary: Delete meter
      description: Delete a meter.
      parameters:
        - name: meterId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '204':
          description: Deleted response.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Meters
  /openmeter/profiles:
    get:
      operationId: list-billing-profiles
      summary: List billing profiles
      description: List billing profiles.
      parameters:
        - $ref: '#/components/parameters/PagePaginationQuery'
      responses:
        '200':
          description: Page paginated response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingProfilePagePaginatedResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - OpenMeter Billing
    post:
      operationId: create-billing-profile
      summary: Create a new billing profile
      description: |-
        Create a new billing profile.

        Billing profiles contain the settings for billing and controls invoice generation.
        An organization can have multiple billing profiles defined.
        A billing profile is linked to a specific app. This association is established during the billing profile's creation and remains immutable.
      responses:
        '201':
          description: BillingProfile created response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingProfile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - OpenMeter Billing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBillingProfileRequest'
  /openmeter/profiles/{id}:
    get:
      operationId: get-billing-profile
      summary: Get a billing profile
      description: Get a billing profile.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '200':
          description: BillingProfile response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingProfile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Billing
    put:
      operationId: update-billing-profile
      summary: Update a billing profile
      description: Update a billing profile.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '200':
          description: BillingProfile updated response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingProfile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Billing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertBillingProfileRequest'
    delete:
      operationId: delete-billing-profile
      summary: Delete a billing profile
      description: |-
        Delete a billing profile.

        Only such billing profiles can be deleted that are:
        - not the default profile
        - not pinned to any customer using customer overrides
        - only have finalized invoices
      parameters:
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '204':
          description: Deleted response.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Billing
  /openmeter/subscriptions:
    post:
      operationId: create-subscription
      summary: Create subscription
      responses:
        '201':
          description: Subscription created response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingSubscription'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - OpenMeter Subscriptions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingSubscriptionCreate'
    get:
      operationId: list-subscriptions
      summary: List subscriptions
      parameters:
        - $ref: '#/components/parameters/PagePaginationQuery'
        - name: filter
          in: query
          required: false
          description: Filter subscriptions.
          schema:
            type: object
            properties:
              customer_id:
                allOf:
                  - $ref: '#/components/schemas/ULID'
                description: Filter subscriptions by customer ID.
          style: deepObject
      responses:
        '200':
          description: Page paginated response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionPagePaginatedResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Subscriptions
  /openmeter/subscriptions/{subscriptionId}:
    get:
      operationId: get-subscription
      summary: Get subscription
      parameters:
        - name: subscriptionId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '200':
          description: Subscription response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingSubscription'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Subscriptions
  /openmeter/subscriptions/{subscriptionId}/cancel:
    post:
      operationId: cancel-subscription
      summary: Cancel subscription
      description: |-
        Cancels the subscription.
        Will result in a scheduling conflict if there are other subscriptions scheduled to start after the cancelation time.
      parameters:
        - name: subscriptionId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '200':
          description: Subscription updated response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingSubscription'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - OpenMeter Subscriptions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingSubscriptionCancel'
  /openmeter/subscriptions/{subscriptionId}/change:
    post:
      operationId: change-subscription
      summary: Change subscription
      description: |-
        Closes a running subscription and starts a new one according to the specification.
        Can be used for upgrades, downgrades, and plan changes.
      parameters:
        - name: subscriptionId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingSubscriptionChangeResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - OpenMeter Subscriptions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingSubscriptionChange'
  /openmeter/subscriptions/{subscriptionId}/unschedule-cancelation:
    post:
      operationId: unschedule-cancelation
      summary: Unschedule subscription cancelation
      description: Unschedules the subscription cancelation.
      parameters:
        - name: subscriptionId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '200':
          description: Subscription updated response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingSubscription'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - OpenMeter Subscriptions
components:
  parameters:
    PagePaginationQuery:
      name: page
      in: query
      required: false
      description: Determines which page of the collection to retrieve.
      schema:
        type: object
        properties:
          size:
            type: integer
          number:
            type: integer
      style: deepObject
  schemas:
    Address:
      type: object
      properties:
        country:
          allOf:
            - $ref: '#/components/schemas/CountryCode'
          description: Country code in [ISO 3166-1](https://www.iso.org/iso-3166-country-codes.html) alpha-2 format.
          title: Country
        postal_code:
          type: string
          description: Postal code.
          title: Postal Code
        state:
          type: string
          description: State or province.
          title: State
        city:
          type: string
          description: City.
          title: City
        line1:
          type: string
          description: First line of the address.
          title: Line 1
        line2:
          type: string
          description: Second line of the address.
          title: Line 2
        phone_number:
          type: string
          description: Phone number.
          title: Phone Number
      description: Address
    AppPagePaginatedResponse:
      type: object
      required:
        - data
        - meta
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/BillingApp'
        meta:
          $ref: '#/components/schemas/PaginatedMeta'
      description: Page paginated response.
    BillingAddress:
      type: object
      properties:
        country:
          allOf:
            - $ref: '#/components/schemas/CountryCode'
          description: Country code in [ISO 3166-1](https://www.iso.org/iso-3166-country-codes.html) alpha-2 format.
          title: Country
        postal_code:
          type: string
          description: Postal code.
          title: Postal Code
        state:
          type: string
          description: State or province.
          title: State
        city:
          type: string
          description: City.
          title: City
        line1:
          type: string
          description: First line of the address.
          title: Line 1
        line2:
          type: string
          description: Second line of the address.
          title: Line 2
        phone_number:
          type: string
          description: Phone number.
          title: Phone Number
      description: Address
    BillingApp:
      type: object
      oneOf:
        - $ref: '#/components/schemas/BillingAppStripe'
        - $ref: '#/components/schemas/BillingAppSandbox'
        - $ref: '#/components/schemas/BillingAppExternalInvoicing'
      discriminator:
        propertyName: type
        mapping:
          stripe: '#/components/schemas/BillingAppStripe'
          sandbox: '#/components/schemas/BillingAppSandbox'
          external_invoicing: '#/components/schemas/BillingAppExternalInvoicing'
      description: Installed application.
    BillingAppCatalogItem:
      type: object
      required:
        - type
        - name
        - description
      properties:
        type:
          allOf:
            - $ref: '#/components/schemas/BillingAppType'
          description: Type of the app.
          readOnly: true
        name:
          type: string
          description: Name of the app.
          readOnly: true
        description:
          type: string
          description: Description of the app.
          readOnly: true
      description: |-
        Available apps for billing integrations to connect with third-party services.
        Apps can have various capabilities like syncing data from or to external systems, integrating with third-party services for tax calculation, delivery of invoices, collection of payments, etc.
      example:
        type: stripe
        name: Stripe
        description: Stripe integration allows you to collect payments with Stripe.
    BillingAppCustomerData:
      type: object
      properties:
        stripe:
          allOf:
            - $ref: '#/components/schemas/BillingAppCustomerDataStripe'
          description: Used if the customer has a linked Stripe app.
          title: Stripe
        external_invoicing:
          allOf:
            - $ref: '#/components/schemas/BillingAppCustomerDataExternalInvoicing'
          description: Used if the customer has a linked external invoicing app.
          title: External invoicing
      description: App customer data.
    BillingAppCustomerDataExternalInvoicing:
      type: object
      properties:
        labels:
          allOf:
            - $ref: '#/components/schemas/Labels'
          description: Labels for this external invoicing integration on the customer.
          title: Labels
      description: External invoicing customer data.
    BillingAppCustomerDataStripe:
      type: object
      properties:
        customer_id:
          type: string
          description: The Stripe customer ID used.
          title: Stripe customer ID
          example: cus_1234567890
        default_payment_method_id:
          type: string
          description: The Stripe default payment method ID.
          title: Stripe default payment method ID
          example: pm_1234567890
        labels:
          allOf:
            - $ref: '#/components/schemas/Labels'
          description: Labels for this Stripe integration on the customer.
          title: Labels
      description: Stripe customer data.
    BillingAppExternalInvoicing:
      type: object
      required:
        - id
        - name
        - type
        - definition
        - status
        - enable_draft_sync_hook
        - enable_issuing_sync_hook
      properties:
        id:
          allOf:
            - $ref: '#/components/schemas/ULID'
          readOnly: true
        name:
          type: string
          minLength: 1
          maxLength: 256
          description: |-
            Display name of the resource.

            Between 1 and 256 characters.
        description:
          type: string
          maxLength: 1024
          description: |-
            Optional description of the resource.

            Maximum 1024 characters.
        labels:
          $ref: '#/components/schemas/Labels'
        created_at:
          allOf:
            - $ref: '#/components/schemas/DateTime'
          description: An ISO-8601 timestamp representation of entity creation date.
          readOnly: true
        updated_at:
          allOf:
            - $ref: '#/components/schemas/DateTime'
          description: An ISO-8601 timestamp representation of entity last update date.
          readOnly: true
        deleted_at:
          allOf:
            - $ref: '#/components/schemas/DateTime'
          description: An ISO-8601 timestamp representation of entity deletion date.
          readOnly: true
        type:
          type: string
          enum:
            - external_invoicing
          description: The app type.
          readOnly: true
        definition:
          allOf:
            - $ref: '#/components/schemas/BillingAppCatalogItem'
          description: The app catalog definition that this installed app is based on.
          readOnly: true
        status:
          allOf:
            - $ref: '#/components/schemas/BillingAppStatus'
          description: Status of the app connection.
          readOnly: true
        enable_draft_sync_hook:
          type: boolean
          description: |-
            Enable draft synchronization hook.

            When enabled, invoices will pause at the draft state and wait for the integration
            to call the draft synchronized endpoint before progressing to the issuing state.
            This allows the external system to validate and prepare the invoice data.

            When disabled, invoices automatically progress through the draft state based on
            the configured workflow timing.
        enable_issuing_sync_hook:
          type: boolean
          description: |-
            Enable issuing synchronization hook.

            When enabled, invoices will pause at the issuing state and wait for the integration
            to call the issuing synchronized endpoint before progressing to the issued state.
            This ensures the external invoicing system has successfully created and finalized
            the invoice before it is marked as issued.

            When disabled, invoices automatically progress through the issuing state and are
            immediately marked as issued.
      description: |-
        External Invoicing app enables integration with third-party invoicing or payment system.

        The app supports a bi-directional synchronization pattern where OpenMeter Billing manages
        the invoice lifecycle while the external system handles invoice presentation and payment collection.

        Integration workflow:
        1. The billing system creates invoices and transitions them through lifecycle states (draft → issuing → issued)
        2. The integration receives webhook notifications about invoice state changes
        3. The integration calls back to provide external system IDs and metadata
        4. The integration reports payment events back via the payment status API

        State synchronization is controlled by hooks that pause invoice progression until the
        external system confirms synchronization via API callbacks.
    BillingAppReference:
      type: object
      required:
        - id
      properties:
        id:
          allOf:
            - $ref: '#/components/schemas/ULID'
          description: The ID of the app.
      description: App reference.
    BillingAppSandbox:
      type: object
      required:
        - id
        - name
        - type
        - definition
        - status
      properties:
        id:
          allOf:
            - $ref: '#/components/schemas/ULID'
          readOnly: true
        name:
          type: string
          minLength: 1
          maxLength: 256
          description: |-
            Display name of the resource.

            Between 1 and 256 characters.
        description:
          type: string
          maxLength: 1024
          description: |-
            Optional description of the resource.

            Maximum 1024 characters.
        labels:
          $ref: '#/components/schemas/Labels'
        created_at:
          allOf:
            - $ref: '#/components/schemas/DateTime'
          description: An ISO-8601 timestamp representation of entity creation date.
          readOnly: true
        updated_at:
          allOf:
            - $ref: '#/components/schemas/DateTime'
          description: An ISO-8601 timestamp representation of entity last update date.
          readOnly: true
        deleted_at:
          allOf:
            - $ref: '#/components/schemas/DateTime'
          description: An ISO-8601 timestamp representation of entity deletion date.
          readOnly: true
        type:
          type: string
          enum:
            - sandbox
          description: The app type.
          readOnly: true
        definition:
          allOf:
            - $ref: '#/components/schemas/BillingAppCatalogItem'
          description: The app catalog definition that this installed app is based on.
          readOnly: true
        status:
          allOf:
            - $ref: '#/components/schemas/BillingAppStatus'
          description: Status of the app connection.
          readOnly: true
      description: Sandbox app can be used for testing billing features.
    BillingAppStatus:
      type: string
      enum:
        - ready
        - unauthorized
      description: Connection status of an installed app.
    BillingAppStripe:
      type: object
      required:
        - id
        - name
        - type
        - definition
        - status
        - account_id
        - livemode
        - masked_api_key
      properties:
        id:
          allOf:
            - $ref: '#/components/schemas/ULID'
          readOnly: true
        name:
          type: string
          minLength: 1
          maxLength: 256
          description: |-
            Display name of the resource.

            Between 1 and 256 characters.
        description:
          type: string
          maxLength: 1024
          description: |-
            Optional description of the resource.

            Maximum 1024 characters.
        labels:
          $ref: '#/components/schemas/Labels'
        created_at:
          allOf:
            - $ref: '#/components/schemas/DateTime'
          description: An ISO-8601 timestamp representation of entity creation date.
          readOnly: true
        updated_at:
          allOf:
            - $ref: '#/components/schemas/DateTime'
          description: An ISO-8601 timestamp representation of entity last update date.
          readOnly: true
        deleted_at:
          allOf:
            - $ref: '#/components/schemas/DateTime'
          description: An ISO-8601 timestamp representation of entity deletion date.
          readOnly: true
        type:
          type: string
          enum:
            - stripe
          description: The app type.
          readOnly: true
        definition:
          allOf:
            - $ref: '#/components/schemas/BillingAppCatalogItem'
          description: The app catalog definition that this installed app is based on.
          readOnly: true
        status:
          allOf:
            - $ref: '#/components/schemas/BillingAppStatus'
          description: Status of the app connection.
          readOnly: true
        account_id:
          type: string
          description: The Stripe account ID associated with the connected Stripe account.
          readOnly: true
        livemode:
          type: boolean
          description: Indicates whether the app is connected to a live Stripe account.
          readOnly: true
        masked_api_key:
          type: string
          description: The masked Stripe API key that only exposes the first and last few characters.
          readOnly: true
      description: Stripe app.
    BillingAppStripeCheckoutSessionCustomTextParams:
      type: object
      properties:
        after_submit:
          type: object
          properties:
            message:
              type: string
              maxLength: 1200
              description: The custom message text (max 1200 characters).
          description: Text displayed after the payment confirmation button.
        shipping_address:
          type: object
          properties:
            message:
              type: string
              maxLength: 1200
              description: The custom message text (max 1200 characters).
          description: Text displayed alongside shipping address collection.
        submit:
          type: object
          properties:
            message:
              type: string
              maxLength: 1200
              description: The custom message text (max 1200 characters).
          description: Text displayed alongside the payment confirmation button.
        terms_of_service_acceptance:
          type: object
          properties:
            message:
              type: string
              maxLength: 1200
              description: The custom message text (max 1200 characters).
          description: Text replacing the default terms of service agreement text.
      description: Custom text displayed at various stages of the checkout flow.
    BillingAppStripeCheckoutSessionMode:
      type: string
      enum:
        - setup
      description: |-
        Stripe Checkout Session mode.

        Determines the primary purpose of the checkout session.
    BillingAppStripeCheckoutSessionUIMode:
      type: string
      enum:
        - embedded
        - hosted
      description: Checkout Session UI mode.
    BillingAppStripeCreateCheckoutSessionBillingAddressCollection:
      type: string
      enum:
        - auto
        - required
      description: Controls whether Checkout collects the customer's billing address.
    BillingAppStripeCreateCheckoutSessionConsentCollection:
      type: object
      properties:
        payment_method_reuse_agreement:
          allOf:
            - $ref: '#/components/schemas/BillingAppStripeCreateCheckoutSessionConsentCollectionPaymentMethodReuseAgreement'
          description: Controls the visibility of payment method reuse agreement.
        promotions:
          allOf:
            - $ref: '#/components/schemas/BillingAppStripeCreateCheckoutSessionConsentCollectionPromotions'
          description: |-
            Enables collection of promotional communication consent.

            Only available to US merchants. When set to "auto", Checkout determines
            whether to show the option based on the customer's locale.
        terms_of_service:
          allOf:
            - $ref: '#/components/schemas/BillingAppStripeCreateCheckoutSessionConsentCollectionTermsOfService'
          description: |-
            Requires customers to accept terms of service before payment.

            Requires a valid terms of service URL in your Stripe Dashboard settings.
      description: Checkout Session consent collection configuration.
    BillingAppStripeCreateCheckoutSessionConsentCollectionPaymentMethodReuseAgreement:
      type: object
      properties:
        position:
          allOf:
            - $ref: '#/components/schemas/BillingAppStripeCreateCheckoutSessionConsentCollectionPaymentMethodReuseAgreementPosition'
          description: Position and visibility of the payment method reuse agreement.
      description: Payment method reuse agreement configuration.
    BillingAppStripeCreateCheckoutSessionConsentCollectionPaymentMethodReuseAgreementPosition:
      type: string
      enum:
        - auto
        - hidden
      description: Position of payment method reuse agreement in the UI.
    BillingAppStripeCreateCheckoutSessionConsentCollectionPromotions:
      type: string
      enum:
        - auto
        - none
      description: Promotional communication consent collection setting.
    BillingAppStripeCreateCheckoutSessionConsentCollectionTermsOfService:
      type: string
      enum:
        - none
        - required
      description: Terms of service acceptance requirement.
    BillingAppStripeCreateCheckoutSessionCustomerUpdate:
      type: object
      properties:
        address:
          allOf:
            - $ref: '#/components/schemas/BillingAppStripeCreateCheckoutSessionCustomerUpdateBehavior'
          description: |-
            Whether to save the billing address to customer.address.

            Defaults to "never".
          default: never
        name:
          allOf:
            - $ref: '#/components/schemas/BillingAppStripeCreateCheckoutSessionCustomerUpdateBehavior'
          description: |-
            Whether to save the customer name to customer.name.

            Defaults to "never".
          default: never
        shipping:
          allOf:
            - $ref: '#/components/schemas/BillingAppStripeCreateCheckoutSessionCustomerUpdateBehavior'
          description: |-
            Whether to save shipping information to customer.shipping.

            Defaults to "never".
          default: never
      description: Controls which customer fields can be updated by the checkout session.
    BillingAppStripeCreateCheckoutSessionCustomerUpdateBehavior:
      type: string
      enum:
        - auto
        - never
      description: Behavior for updating customer fields from checkout session.
    BillingAppStripeCreateCheckoutSessionRedirectOnCompletion:
      type: string
      enum:
        - always
        - if_required
        - never
      description: Redirect behavior for embedded checkout sessions.
    BillingAppStripeCreateCheckoutSessionRequestOptions:
      type: object
      properties:
        billing_address_collection:
          allOf:
            - $ref: '#/components/schemas/BillingAppStripeCreateCheckoutSessionBillingAddressCollection'
          description: |-
            Whether to collect the customer's billing address.

            Defaults to auto, which only collects the address when necessary for tax calculation.
          default: auto
        cancel_url:
          type: string
          description: |-
            URL to redirect customers who cancel the checkout session.

            Not allowed when ui_mode is "embedded".
        client_reference_id:
          type: string
          description: |-
            Unique reference string for reconciling sessions with internal systems.

            Can be a customer ID, cart ID, or any other identifier.
        customer_update:
          allOf:
            - $ref: '#/components/schemas/BillingAppStripeCreateCheckoutSessionCustomerUpdate'
          description: Controls which customer fields can be updated by the checkout session.
        consent_collection:
          allOf:
            - $ref: '#/components/schemas/BillingAppStripeCreateCheckoutSessionConsentCollection'
          description: Configuration for collecting customer consent during checkout.
        currency:
          allOf:
            - $ref: '#/components/schemas/CurrencyCode'
          description: |-
            Three-letter ISO 4217 currency code in uppercase.

            Required for payment mode sessions. Optional for setup mode sessions.
        custom_text:
          allOf:
            - $ref: '#/components/schemas/BillingAppStripeCheckoutSessionCustomTextParams'
          description: Custom text to display during checkout at various stages.
        expires_at:
          type: integer
          format: int64
          description: |-
            Unix timestamp when the checkout session expires.

            Can be 30 minutes to 24 hours from creation. Defaults to 24 hours.
        locale:
          type: string
          description: |-
            IETF language tag for the checkout UI locale.

            If blank or "auto", uses the browser's locale. Example: "en", "fr", "de".
        metadata:
          type: object
          additionalProperties:
            type: string
          description: |-
            Set of key-value pairs to attach to the checkout session.

            Useful for storing additional structured information.
        return_url:
          type: string
          description: |-
            Return URL for embedded checkout sessions after payment authentication.

            Required if ui_mode is "embedded" and redirect-based payment methods are enabled.
        success_url:
          type: string
          description: |-
            Success URL to redirect customers after completing payment or setup.

            Not allowed when ui_mode is "embedded".
            See: https://docs.stripe.com/payments/checkout/custom-success-page
        ui_mode:
          allOf:
            - $ref: '#/components/schemas/BillingAppStripeCheckoutSessionUIMode'
          description: |-
            The UI mode for the checkout session.

            "hosted" displays a Stripe-hosted page. "embedded" integrates directly into your app.
            Defaults to "hosted".
          default: hosted
        payment_method_types:
          type: array
          items:
            type: string
          description: |-
            List of payment method types to enable (e.g., "card", "us_bank_account").

            If not specified, Stripe enables all relevant payment methods.
        redirect_on_completion:
          allOf:
            - $ref: '#/components/schemas/BillingAppStripeCreateCheckoutSessionRedirectOnCompletion'
          description: |-
            Redirect behavior for embedded checkout sessions.

            Controls when to redirect users after completion.
            See: https://docs.stripe.com/payments/checkout/custom-success-page?payment-ui=embedded-form
        tax_id_collection:
          allOf:
            - $ref: '#/components/schemas/BillingAppStripeCreateCheckoutSessionTaxIdCollection'
          description: Configuration for collecting tax IDs during checkout.
      description: |-
        Configuration options for creating a Stripe Checkout Session.

        Based on Stripe's [Checkout Session API parameters](https://docs.stripe.com/api/checkout/sessions/create).
    BillingAppStripeCreateCheckoutSessionResult:
      type: object
      required:
        - customer_id
        - stripe_customer_id
        - session_id
        - setup_intent_id
        - created_at
        - mode
      properties:
        customer_id:
          allOf:
            - $ref: '#/components/schemas/ULID'
          description: The customer ID in the billing system.
        stripe_customer_id:
          type: string
          description: The Stripe customer ID.
        session_id:
          type: string
          description: The Stripe checkout session ID.
        setup_intent_id:
          type: string
          description: The setup intent ID created for collecting the payment method.
        client_secret:
          type: string
          description: |-
            Client secret for initializing Stripe.js on the client side.

            Required for embedded checkout sessions.
            See: https://docs.stripe.com/payments/checkout/custom-success-page
        client_reference_id:
          type: string
          description: |-
            The client reference ID provided in the request.

            Useful for reconciling the session with your internal systems.
        customer_email:
          type: string
          description: Customer's email address if provided to Stripe.
        currency:
          allOf:
            - $ref: '#/components/schemas/CurrencyCode'
          description: Currency code for the checkout session.
        created_at:
          allOf:
            - $ref: '#/components/schemas/DateTime'
          description: Timestamp when the checkout session was created.
        expires_at:
          allOf:
            - $ref: '#/components/schemas/DateTime'
          description: Timestamp when the checkout session will expire.
        metadata:
          type: object
          additionalProperties:
            type: string
          description: Metadata attached to the checkout session.
        status:
          type: string
          description: |-
            The status of the checkout session.

            See: https://docs.stripe.com/api/checkout/sessions/object#checkout_session_object-status
        url:
          type: string
          description: URL to redirect customers to the checkout page (for hosted mode).
        mode:
          allOf:
            - $ref: '#/components/schemas/BillingAppStripeCheckoutSessionMode'
          description: |-
            Mode of the checkout session.

            Currently only "setup" mode is supported for collecting payment methods.
        cancel_url:
          type: string
          description: The cancel URL where customers are redirected if they cancel.
        success_url:
          type: string
          description: The success URL where customers are redirected after completion.
        return_url:
          type: string
          description: The return URL for embedded sessions after authentication.
      description: |-
        Result of creating a Stripe Checkout Session.

        Contains all the information needed to redirect customers to the checkout
        or initialize an embedded checkout flow.
    BillingAppStripeCreateCheckoutSessionTaxIdCollection:
      type: object
      properties:
        enabled:
          type: boolean
          description: |-
            Enable tax ID collection during checkout.

            Defaults to false.
          default: false
        required:
          allOf:
            - $ref: '#/components/schemas/BillingAppStripeCreateCheckoutSessionTaxIdCollectionRequired'
          description: |-
            Whether tax ID collection is required.

            Defaults to "never".
          default: never
      description: Tax ID collection configuration for checkout sessions.
    BillingAppStripeCreateCheckoutSessionTaxIdCollectionRequired:
      type: string
      enum:
        - if_supported
        - never
      description: Tax ID collection requirement level.
    BillingAppStripeCreateCustomerPortalSessionOptions:
      type: object
      properties:
        configuration_id:
          type: string
          description: |-
            The ID of an existing [Stripe configuration](https://docs.stripe.com/api/customer_portal/configurations) to use for this session,
            describing its functionality and features.
            If not specified, the session uses the default configuration.
        locale:
          type: string
          description: |-
            The IETF [language tag](https://docs.stripe.com/api/customer_portal/sessions/create#create_portal_session-locale) of the locale customer portal is displayed in.
            If blank or `auto`, the customer's preferred_locales or browser's locale is used.
        return_url:
          type: string
          description: |-
            The [URL to redirect](https://docs.stripe.com/api/customer_portal/sessions/create#create_portal_session-return_url) the customer to after they have completed
            their requested actions.
      description: Request to create a Stripe Customer Portal Session.
    BillingAppStripeCreateCustomerPortalSessionResult:
      type: object
      required:
        - id
        - stripe_customer_id
        - configuration_id
        - livemode
        - created_at
        - return_url
        - locale
        - url
      properties:
        id:
          type: string
          description: |-
            The ID of the customer portal session.

            See: https://docs.stripe.com/api/customer_portal/sessions/object#portal_session_object-id
        stripe_customer_id:
          type: string
          description: The ID of the stripe customer.
        configuration_id:
          type: string
          description: |-
            Configuration used to customize the customer portal.

            See: https://docs.stripe.com/api/customer_portal/sessions/object#portal_session_object-configuration
        livemode:
          type: boolean
          description: |-
            Livemode.

            See: https://docs.stripe.com/api/customer_portal/sessions/object#portal_session_object-livemode
        created_at:
          allOf:
            - $ref: '#/components/schemas/DateTime'
          description: |-
            Created at.

            See: https://docs.stripe.com/api/customer_portal/sessions/object#portal_session_object-created
        return_url:
          type: string
          description: |-
            Return URL.

            See: https://docs.stripe.com/api/customer_portal/sessions/object#portal_session_object-return_url
        locale:
          type: string
          description: |-
            The IETF language tag of the locale customer portal is displayed in.

            See: https://docs.stripe.com/api/customer_portal/sessions/object#portal_session_object-locale
        url:
          type: string
          description: |-
            The URL to redirect the customer to after they have completed
            their requested actions.
      description: |-
        Result of creating a [Stripe Customer Portal Session](https://docs.stripe.com/api/customer_portal/sessions/object).

        Contains all the information needed to redirect the customer to the Stripe Customer Portal.
    BillingAppType:
      type: string
      enum:
        - sandbox
        - stripe
        - external_invoicing
      description: The type of the app.
    BillingCustomer:
      type: object
      required:
        - id
        - name
        - key
      properties:
        id:
          allOf:
            - $ref: '#/components/schemas/ULID'
          readOnly: true
        name:
          type: string
          minLength: 1
          maxLength: 256
          description: |-
            Display name of the resource.

            Between 1 and 256 characters.
        description:
          type: string
          maxLength: 1024
          description: |-
            Optional description of the resource.

            Maximum 1024 characters.
        labels:
          $ref: '#/components/schemas/Labels'
        created_at:
          allOf:
            - $ref: '#/components/schemas/DateTime'
          description: An ISO-8601 timestamp representation of entity creation date.
          readOnly: true
        updated_at:
          allOf:
            - $ref: '#/components/schemas/DateTime'
          description: An ISO-8601 timestamp representation of entity last update date.
          readOnly: true
        deleted_at:
          allOf:
            - $ref: '#/components/schemas/DateTime'
          description: An ISO-8601 timestamp representation of entity deletion date.
          readOnly: true
        key:
          $ref: '#/components/schemas/ExternalResourceKey'
        usage_attribution:
          allOf:
            - $ref: '#/components/schemas/BillingCustomerUsageAttribution'
          description: Mapping to attribute metered usage to the customer by the event subject.
          title: Usage Attribution
        primary_email:
          type: string
          description: The primary email address of the customer.
          title: Primary Email
        currency:
          allOf:
            - $ref: '#/components/schemas/CurrencyCode'
          description: |-
            Currency of the customer.
            Used for billing, tax and invoicing.
          title: Currency
        billing_address:
          allOf:
            - $ref: '#/components/schemas/BillingAddress'
          description: |-
            The billing address of the customer.
            Used for tax and invoicing.
          title: Billing Address
      description: Customers can be individuals or organizations that can subscribe to plans and have access to features.
    BillingCustomerData:
      type: object
      properties:
        billing_profile:
          allOf:
            - $ref: '#/components/schemas/BillingProfileReference'
          description: |-
            The billing profile for the customer.

            If not provided, the default billing profile will be used.
          title: Billing profile
        app_data:
          allOf:
            - $ref: '#/components/schemas/BillingAppCustomerData'
          description: App customer data.
          title: App customer data
      description: Billing customer data.
    BillingCustomerStripeCreateCheckoutSessionRequest:
      type: object
      required:
        - stripe_options
      properties:
        stripe_options:
          allOf:
            - $ref: '#/components/schemas/BillingAppStripeCreateCheckoutSessionRequestOptions'
          description: |-
            Options for configuring the Stripe Checkout Session.

            These options are passed directly to Stripe's [checkout session creation API](https://docs.stripe.com/api/checkout/sessions/create).
      description: |-
        Request to create a Stripe Checkout Session for the customer.

        Checkout Sessions are used to collect payment method information from customers
        in a secure, Stripe-hosted interface. This integration uses setup mode to collect
        payment methods that can be charged later for subscription billing.
    BillingCustomerStripeCreateCustomerPortalSessionRequest:
      type: object
      required:
        - stripe_options
      properties:
        stripe_options:
          allOf:
            - $ref: '#/components/schemas/BillingAppStripeCreateCustomerPortalSessionOptions'
          description: Options for configuring the Stripe Customer Portal Session.
      description: |-
        Request to create a Stripe Customer Portal Session for the customer.

        Useful to redirect the customer to the Stripe Customer Portal to manage their payment methods,
        change their billing address and access their invoice history.
        Only returns URL if the customer billing profile is linked to a stripe app and customer.
    BillingCustomerUsageAttribution:
      type: object
      required:
        - subject_keys
      properties:
        subject_keys:
          type: array
          items:
            $ref: '#/components/schemas/UsageAttributionSubjectKey'
          minItems: 0
          description: |-
            The subjects that are attributed to the customer.
            Can be empty when no usage event subjects are associated with the customer.
          title: Subject Keys
      description: |-
        Mapping to attribute metered usage to the customer.
        One customer can have zero or more subjects,
        but one subject can only belong to one customer.
    BillingEntitlementAccessResult:
      type: object
      required:
        - type
        - feature_key
        - has_access
      properties:
        type:
          allOf:
            - $ref: '#/components/schemas/BillingEntitlementType'
          description: The type of the entitlement.
          example: static
          readOnly: true
        feature_key:
          allOf:
            - $ref: '#/components/schemas/ResourceKey'
          description: The feature key of the entitlement.
          example: available_models
          readOnly: true
        has_access:
          type: boolean
          description: |-
            Whether the customer has access to the feature.
            Always true for `boolean` and `static` entitlements.
            Depends on balance for `metered` entitlements.
          example: true
          readOnly: true
        config:
          type: string
          description: |-
            Only available for static entitlements.
            Config is the JSON parsable configuration of the entitlement.
            Useful to describe per customer configuration.
          example: '{ "availableModels": ["gpt-5", "gpt-4o"] }'
          readOnly: true
      description: Entitlement access result.
    BillingEntitlementType:
      type: string
      enum:
        - metered
        - static
        - boolean
      description: The type of the entitlement.
    BillingParty:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the party.
          readOnly: true
        key:
          allOf:
            - $ref: '#/components/schemas/ExternalResourceKey'
          description: An optional unique key of the party.
        name:
          type: string
          description: Legal name or representation of the party.
        tax_id:
          allOf:
            - $ref: '#/components/schemas/BillingPartyTaxIdentity'
          description: |-
            The entity's legal identification used for tax purposes. They may have
            other numbers, but we're only interested in those valid for tax purposes.
        addresses:
          allOf:
            - $ref: '#/components/schemas/BillingPartyAddresses'
          description: Address for where information should be sent if needed.
      description: Party represents a person or business entity.
    BillingPartyAddresses:
      type: object
      required:
        - billing_address
      properties:
        billing_address:
          allOf:
            - $ref: '#/components/schemas/Address'
          description: Billing address.
      description: A collection of addresses for the party.
    BillingPartyTaxIdentity:
      type: object
      properties:
        code:
          allOf:
            - $ref: '#/components/schemas/BillingTaxIdentificationCode'
          description: Normalized tax identification code shown on the original identity document.
      description: Identity stores the details required to identify an entity for tax purposes in a specific country.
    BillingProfile:
      type: object
      required:
        - id
        - name
        - supplier
        - workflow
        - apps
        - default
      properties:
        id:
          allOf:
            - $ref: '#/components/schemas/ULID'
          readOnly: true
        name:
          type: string
          minLength: 1
          maxLength: 256
          description: |-
            Display name of the resource.

            Between 1 and 256 characters.
        description:
          type: string
          maxLength: 1024
          description: |-
            Optional description of the resource.

            Maximum 1024 characters.
        labels:
          $ref: '#/components/schemas/Labels'
        created_at:
          allOf:
            - $ref: '#/components/schemas/DateTime'
          description: An ISO-8601 timestamp representation of entity creation date.
          readOnly: true
        updated_at:
          allOf:
            - $ref: '#/components/schemas/DateTime'
          description: An ISO-8601 timestamp representation of entity last update date.
          readOnly: true
        deleted_at:
          allOf:
            - $ref: '#/components/schemas/DateTime'
          description: An ISO-8601 timestamp representation of entity deletion date.
          readOnly: true
        supplier:
          allOf:
            - $ref: '#/components/schemas/BillingParty'
          description: The name and contact information for the supplier this billing profile represents
        workflow:
          allOf:
            - $ref: '#/components/schemas/BillingWorkflow'
          description: The billing workflow settings for this profile
        apps:
          allOf:
            - $ref: '#/components/schemas/BillingProfileAppReferences'
          description: The applications used by this billing profile.
        default:
          type: boolean
          description: Whether this is the default profile.
      description: Billing profiles contain the settings for billing and controls invoice generation.
    BillingProfileAppReferences:
      type: object
      required:
        - tax
        - invoicing
        - payment
      properties:
        tax:
          allOf:
            - $ref: '#/components/schemas/BillingAppReference'
          description: The tax app used for this workflow.
        invoicing:
          allOf:
            - $ref: '#/components/schemas/BillingAppReference'
          description: The invoicing app used for this workflow.
        payment:
          allOf:
            - $ref: '#/components/schemas/BillingAppReference'
          description: The payment app used for this workflow.
      description: References to the applications used by a billing profile.
    BillingProfilePagePaginatedResponse:
      type: object
      required:
        - data
        - meta
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/BillingProfile'
        meta:
          $ref: '#/components/schemas/PaginatedMeta'
      description: Page paginated response.
    BillingProfileReference:
      type: object
      required:
        - id
      properties:
        id:
          allOf:
            - $ref: '#/components/schemas/ULID'
          description: The ID of the billing profile.
      description: Billing profile reference.
    BillingSubscription:
      type: object
      required:
        - id
        - customer_id
        - billing_anchor
        - status
      properties:
        id:
          allOf:
            - $ref: '#/components/schemas/ULID'
          readOnly: true
        labels:
          $ref: '#/components/schemas/Labels'
        created_at:
          allOf:
            - $ref: '#/components/schemas/DateTime'
          description: An ISO-8601 timestamp representation of entity creation date.
          readOnly: true
        updated_at:
          allOf:
            - $ref: '#/components/schemas/DateTime'
          description: An ISO-8601 timestamp representation of entity last update date.
          readOnly: true
        deleted_at:
          allOf:
            - $ref: '#/components/schemas/DateTime'
          description: An ISO-8601 timestamp representation of entity deletion date.
          readOnly: true
        customer_id:
          allOf:
            - $ref: '#/components/schemas/ULID'
          description: The customer ID of the subscription.
          title: Customer ID
          readOnly: true
        plan_id:
          allOf:
            - $ref: '#/components/schemas/ULID'
          description: |-
            The plan ID of the subscription.
            Set if subscription is created from a plan.
          title: Plan ID
          readOnly: true
        billing_anchor:
          allOf:
            - $ref: '#/components/schemas/DateTime'
          description: |-
            A billing anchor is the fixed point in time that determines the subscription's recurring billing cycle.
            It affects when charges occur and how prorations are calculated.
            Common anchors:
            - Calendar month (1st of each month): `2025-01-01T00:00:00Z`
            - Subscription anniversary (day customer signed up)
            - Custom date (customer-specified day)
          title: Billing anchor
          readOnly: true
        status:
          allOf:
            - $ref: '#/components/schemas/BillingSubscriptionStatus'
          description: The status of the subscription.
          title: Status
          readOnly: true
      description: Subscription.
    BillingSubscriptionCancel:
      type: object
      properties:
        timing:
          allOf:
            - $ref: '#/components/schemas/BillingSubscriptionEditTiming'
          description: If not provided the subscription is canceled immediately.
          default: immediate
      description: Request for canceling a subscription.
    BillingSubscriptionChange:
      type: object
      required:
        - customer
        - plan
        - timing
      properties:
        labels:
          $ref: '#/components/schemas/Labels'
        customer:
          type: object
          properties:
            id:
              allOf:
                - $ref: '#/components/schemas/ULID'
              description: |-
                The ID of the customer to create the subscription for.

                Either customer ID or customer key must be provided.
                If both are provided, the ID will be used.
              title: Customer ID
            key:
              allOf:
                - $ref: '#/components/schemas/ExternalResourceKey'
              description: |-
                The key of the customer to create the subscription for.

                Either customer ID or customer key must be provided.
                If both are provided, the ID will be used.
              title: Customer Key
          description: The customer to create the subscription for.
        plan:
          type: object
          properties:
            id:
              allOf:
                - $ref: '#/components/schemas/ULID'
              description: |-
                The plan ID of the subscription.
                Set if subscription is created from a plan.

                ID or Key of the plan is required if creating a subscription from a plan.
                If both are provided, the ID will be used.
              title: Plan ID
            key:
              allOf:
                - $ref: '#/components/schemas/ResourceKey'
              description: |-
                The plan Key of the subscription, if any.
                Set if subscription is created from a plan.

                ID or Key of the plan is required if creating a subscription from a plan.
                If both are provided, the ID will be used.
              title: Plan Key
            version:
              type: integer
              description: |-
                The plan version of the subscription, if any.
                If not provided, the latest version of the plan will be used.
              title: Plan Version
          description: The plan reference of the subscription.
        billing_anchor:
          allOf:
            - $ref: '#/components/schemas/DateTime'
          description: |-
            A billing anchor is the fixed point in time that determines the subscription's recurring billing cycle.
            It affects when charges occur and how prorations are calculated.
            Common anchors:
            - Calendar month (1st of each month): `2025-01-01T00:00:00Z`
            - Subscription anniversary (day customer signed up)
            - Custom date (customer-specified day)

            If not provided, the subscription will be created with the subscription's creation time as the billing anchor.
          title: Billing anchor
        timing:
          allOf:
            - $ref: '#/components/schemas/BillingSubscriptionEditTiming'
          description: |-
            Timing configuration for the change, when the change should take effect.
            For changing a subscription, the accepted values depend on the subscription configuration.
      description: Request for changing a subscription.
    BillingSubscriptionChangeResponse:
      type: object
      required:
        - current
        - next
      properties:
        current:
          allOf:
            - $ref: '#/components/schemas/BillingSubscription'
          description: The current subscription before the change.
        next:
          allOf:
            - $ref: '#/components/schemas/BillingSubscription'
          description: The new state of the subscription after the change.
      description: Response for changing a subscription.
    BillingSubscriptionCreate:
      type: object
      required:
        - customer
        - plan
      properties:
        labels:
          $ref: '#/components/schemas/Labels'
        customer:
          type: object
          properties:
            id:
              allOf:
                - $ref: '#/components/schemas/ULID'
              description: |-
                The ID of the customer to create the subscription for.

                Either customer ID or customer key must be provided.
                If both are provided, the ID will be used.
              title: Customer ID
            key:
              allOf:
                - $ref: '#/components/schemas/ExternalResourceKey'
              description: |-
                The key of the customer to create the subscription for.

                Either customer ID or customer key must be provided.
                If both are provided, the ID will be used.
              title: Customer Key
          description: The customer to create the subscription for.
        plan:
          type: object
          properties:
            id:
              allOf:
                - $ref: '#/components/schemas/ULID'
              description: |-
                The plan ID of the subscription.
                Set if subscription is created from a plan.

                ID or Key of the plan is required if creating a subscription from a plan.
                If both are provided, the ID will be used.
              title: Plan ID
            key:
              allOf:
                - $ref: '#/components/schemas/ResourceKey'
              description: |-
                The plan Key of the subscription, if any.
                Set if subscription is created from a plan.

                ID or Key of the plan is required if creating a subscription from a plan.
                If both are provided, the ID will be used.
              title: Plan Key
            version:
              type: integer
              description: |-
                The plan version of the subscription, if any.
                If not provided, the latest version of the plan will be used.
              title: Plan Version
          description: The plan reference of the subscription.
        billing_anchor:
          allOf:
            - $ref: '#/components/schemas/DateTime'
          description: |-
            A billing anchor is the fixed point in time that determines the subscription's recurring billing cycle.
            It affects when charges occur and how prorations are calculated.
            Common anchors:
            - Calendar month (1st of each month): `2025-01-01T00:00:00Z`
            - Subscription anniversary (day customer signed up)
            - Custom date (customer-specified day)

            If not provided, the subscription will be created with the subscription's creation time as the billing anchor.
          title: Billing anchor
      description: Subscription create request.
    BillingSubscriptionEditTiming:
      oneOf:
        - $ref: '#/components/schemas/BillingSubscriptionEditTimingEnum'
        - $ref: '#/components/schemas/DateTime'
      description: |-
        Subscription edit timing defined when the changes should take effect.
        If the provided configuration is not supported by the subscription, an error will be returned.
      example: immediate
    BillingSubscriptionEditTimingEnum:
      type: string
      enum:
        - immediate
        - next_billing_cycle
      description: |-
        Subscription edit timing.
        When immediate, the requested changes take effect immediately.
        When next_billing_cycle, the requested changes take effect at the next billing cycle.
    BillingSubscriptionStatus:
      type: string
      enum:
        - active
        - inactive
        - canceled
        - scheduled
      description: Subscription status.
    BillingTaxBehavior:
      type: string
      enum:
        - inclusive
        - exclusive
      description: |-
        Tax behavior.

        This enum is used to specify whether tax is included in the price or excluded from the price.
    BillingTaxConfig:
      type: object
      properties:
        behavior:
          allOf:
            - $ref: '#/components/schemas/BillingTaxBehavior'
          description: |-
            Tax behavior.

            If not specified the billing profile is used to determine the tax behavior.
            If not specified in the billing profile, the provider's default behavior is used.
          title: Tax behavior
        stripe:
          allOf:
            - $ref: '#/components/schemas/BillingTaxConfigStripe'
          description: Stripe tax config.
          title: Stripe tax config
        external_invoicing:
          allOf:
            - $ref: '#/components/schemas/BillingTaxConfigExternalInvoicing'
          description: External invoicing tax config.
          title: External invoicing tax config
      description: Set of provider specific tax configs.
    BillingTaxConfigExternalInvoicing:
      type: object
      required:
        - code
      properties:
        code:
          type: string
          maxLength: 64
          description: The tax code should be interpreted by the external invoicing provider.
          title: Tax code
      description: External invoicing tax config.
    BillingTaxConfigStripe:
      type: object
      required:
        - code
      properties:
        code:
          type: string
          pattern: ^txcd_\d{8}$
          description: Product [tax code](https://docs.stripe.com/tax/tax-codes).
          title: Tax code
          example: txcd_10000000
      description: The tax config for Stripe.
    BillingTaxIdentificationCode:
      type: string
      minLength: 1
      maxLength: 32
      description: Tax identifier code is a normalized tax code shown on the original identity document.
    BillingWorkflow:
      type: object
      properties:
        collection:
          allOf:
            - $ref: '#/components/schemas/BillingWorkflowCollectionSettings'
          description: The collection settings for this workflow
        invoicing:
          allOf:
            - $ref: '#/components/schemas/BillingWorkflowInvoicingSettings'
          description: The invoicing settings for this workflow
        payment:
          allOf:
            - $ref: '#/components/schemas/BillingWorkflowPaymentSettings'
          description: The payment settings for this workflow
        tax:
          allOf:
            - $ref: '#/components/schemas/BillingWorkflowTaxSettings'
          description: The tax settings for this workflow
      description: Billing workflow settings.
    BillingWorkflowCollectionAlignment:
      type: object
      oneOf:
        - $ref: '#/components/schemas/BillingWorkflowCollectionAlignmentSubscription'
        - $ref: '#/components/schemas/BillingWorkflowCollectionAlignmentAnchored'
      discriminator:
        propertyName: type
        mapping:
          subscription: '#/components/schemas/BillingWorkflowCollectionAlignmentSubscription'
          anchored: '#/components/schemas/BillingWorkflowCollectionAlignmentAnchored'
      description: |-
        The alignment for collecting the pending line items into an invoice.

        Defaults to subscription, which means that we are to create a new invoice every time the
        a subscription period starts (for in advance items) or ends (for in arrears items).
    BillingWorkflowCollectionAlignmentAnchored:
      type: object
      required:
        - type
        - recurring_period
      properties:
        type:
          type: string
          enum:
            - anchored
          description: The type of alignment.
        recurring_period:
          allOf:
            - $ref: '#/components/schemas/RecurringPeriod'
          description: The recurring period for the alignment.
      description: |-
        BillingWorkflowCollectionAlignmentAnchored specifies the alignment for collecting the pending line items
        into an invoice.
    BillingWorkflowCollectionAlignmentSubscription:
      type: object
      required:
        - type
      properties:
        type:
          type: string
          enum:
            - subscription
          description: The type of alignment.
      description: |-
        BillingWorkflowCollectionAlignmentSubscription specifies the alignment for collecting the pending line items
        into an invoice.
    BillingWorkflowCollectionSettings:
      type: object
      properties:
        alignment:
          allOf:
            - $ref: '#/components/schemas/BillingWorkflowCollectionAlignment'
          description: The alignment for collecting the pending line items into an invoice.
          default:
            type: subscription
        interval:
          type: string
          format: ISO8601
          description: |-
            This grace period can be used to delay the collection of the pending line items specified in
            alignment.

            This is useful, in case of multiple subscriptions having slightly different billing periods.
          example: P1D
          default: PT1H
      description: Workflow collection specifies how to collect the pending line items for an invoice.
      title: Workflow collection settings
    BillingWorkflowInvoicingSettings:
      type: object
      properties:
        auto_advance:
          type: boolean
          description: Whether to automatically issue the invoice after the draftPeriod has passed.
          default: true
        draft_period:
          type: string
          format: ISO8601
          description: The period for the invoice to be kept in draft status for manual reviews.
          example: P1D
          default: P0D
        progressive_billing:
          type: boolean
          description: Should progressive billing be allowed for this workflow?
          default: true
      description: Invoice settings for a billing workflow.
      title: Workflow invoice settings
    BillingWorkflowPaymentChargeAutomaticallySettings:
      type: object
      required:
        - collection_method
      properties:
        collection_method:
          type: string
          enum:
            - charge_automatically
          description: The collection method for the invoice.
      description: Payment settings for a billing workflow when the collection method is charge automatically.
    BillingWorkflowPaymentSendInvoiceSettings:
      type: object
      required:
        - collection_method
      properties:
        collection_method:
          type: string
          enum:
            - send_invoice
          description: The collection method for the invoice.
        due_after:
          type: string
          format: ISO8601
          description: |-
            The period after which the invoice is due.
            With some payment solutions it's only applicable for manual collection method.
          example: P30D
          default: P30D
      description: Payment settings for a billing workflow when the collection method is send invoice.
    BillingWorkflowPaymentSettings:
      type: object
      oneOf:
        - $ref: '#/components/schemas/BillingWorkflowPaymentChargeAutomaticallySettings'
        - $ref: '#/components/schemas/BillingWorkflowPaymentSendInvoiceSettings'
      discriminator:
        propertyName: collection_method
        mapping:
          charge_automatically: '#/components/schemas/BillingWorkflowPaymentChargeAutomaticallySettings'
          send_invoice: '#/components/schemas/BillingWorkflowPaymentSendInvoiceSettings'
      description: Payment settings for a billing workflow.
    BillingWorkflowTaxSettings:
      type: object
      properties:
        enabled:
          type: boolean
          description: |-
            Enable automatic tax calculation when tax is supported by the app.
            For example, with Stripe Invoicing when enabled, tax is calculated via Stripe Tax.
          default: true
        enforced:
          type: boolean
          description: |-
            Enforce tax calculation when tax is supported by the app.
            When enabled, the billing system will not allow to create an invoice without tax calculation.
            Enforcement is different per apps, for example, Stripe app requires customer
            to have a tax location when starting a paid subscription.
          default: false
        default_tax_config:
          allOf:
            - $ref: '#/components/schemas/BillingTaxConfig'
          description: Default tax configuration to apply to the invoices for line items.
      description: Tax settings for a billing workflow.
      title: Workflow tax settings
    CountryCode:
      type: string
      minLength: 2
      maxLength: 2
      pattern: ^[A-Z]{2}$
      description: |-
        [ISO 3166-1](https://www.iso.org/iso-3166-country-codes.html) alpha-2 country code.
        Custom two-letter country codes are also supported for convenience.
      example: US
    CreateBillingProfileRequest:
      type: object
      required:
        - name
        - supplier
        - workflow
        - apps
        - default
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 256
          description: |-
            Display name of the resource.

            Between 1 and 256 characters.
        description:
          type: string
          maxLength: 1024
          description: |-
            Optional description of the resource.

            Maximum 1024 characters.
        labels:
          $ref: '#/components/schemas/Labels'
        supplier:
          allOf:
            - $ref: '#/components/schemas/BillingParty'
          description: The name and contact information for the supplier this billing profile represents
        workflow:
          allOf:
            - $ref: '#/components/schemas/BillingWorkflow'
          description: The billing workflow settings for this profile
        apps:
          allOf:
            - $ref: '#/components/schemas/BillingProfileAppReferences'
          description: The applications used by this billing profile.
        default:
          type: boolean
          description: Whether this is the default profile.
      description: BillingProfile create request.
    CreateCustomerRequest:
      type: object
      required:
        - name
        - key
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 256
          description: |-
            Display name of the resource.

            Between 1 and 256 characters.
        description:
          type: string
          maxLength: 1024
          description: |-
            Optional description of the resource.

            Maximum 1024 characters.
        labels:
          $ref: '#/components/schemas/Labels'
        key:
          $ref: '#/components/schemas/ExternalResourceKey'
        usage_attribution:
          allOf:
            - $ref: '#/components/schemas/BillingCustomerUsageAttribution'
          description: Mapping to attribute metered usage to the customer by the event subject.
          title: Usage Attribution
        primary_email:
          type: string
          description: The primary email address of the customer.
          title: Primary Email
        currency:
          allOf:
            - $ref: '#/components/schemas/CurrencyCode'
          description: |-
            Currency of the customer.
            Used for billing, tax and invoicing.
          title: Currency
        billing_address:
          allOf:
            - $ref: '#/components/schemas/BillingAddress'
          description: |-
            The billing address of the customer.
            Used for tax and invoicing.
          title: Billing Address
      description: Customer create request.
    CreateMeterRequest:
      type: object
      required:
        - name
        - key
        - aggregation
        - event_type
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 256
          description: |-
            Display name of the resource.

            Between 1 and 256 characters.
        description:
          type: string
          maxLength: 1024
          description: |-
            Optional description of the resource.

            Maximum 1024 characters.
        labels:
          $ref: '#/components/schemas/Labels'
        key:
          $ref: '#/components/schemas/ResourceKey'
        aggregation:
          allOf:
            - $ref: '#/components/schemas/MeterAggregation'
          description: The aggregation type to use for the meter.
        event_type:
          type: string
          minLength: 1
          description: The event type to include in the aggregation.
          example: prompt
        events_from:
          allOf:
            - $ref: '#/components/schemas/DateTime'
          description: |-
            The date since the meter should include events.
            Useful to skip old events.
            If not specified, all historical events are included.
        value_property:
          type: string
          minLength: 1
          description: |-
            JSONPath expression to extract the value from the ingested event's data property.

            The ingested value for sum, avg, min, and max aggregations is a number or a string that can be parsed to a number.

            For unique_count aggregation, the ingested value must be a string. For count aggregation the value_property is ignored.
          example: $.tokens
        dimensions:
          type: object
          additionalProperties:
            type: string
          description: |-
            Named JSONPath expressions to extract the group by values from the event data.

            Keys must be unique and consist only alphanumeric and underscore characters.
          example:
            type: $.type
      description: Meter create request.
    CurrencyCode:
      type: string
      minLength: 3
      maxLength: 3
      pattern: ^[A-Z]{3}$
      description: |-
        Three-letter [ISO4217](https://www.iso.org/iso-4217-currency-codes.html) currency code.
        Custom three-letter currency codes are also supported for convenience.
      example: USD
    CustomerPagePaginatedResponse:
      type: object
      required:
        - data
        - meta
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/BillingCustomer'
        meta:
          $ref: '#/components/schemas/PaginatedMeta'
      description: Page paginated response.
    DateTime:
      type: string
      format: date-time
      description: '[RFC3339](https://tools.ietf.org/html/rfc3339) formatted date-time string in UTC.'
      title: RFC3339 Date-Time
      example: '2023-01-01T01:01:01.001Z'
    ExternalResourceKey:
      type: string
      minLength: 1
      maxLength: 256
      description: ExternalResourceKey is a unique string that is used to identify a resource in an external system.
      title: External Resource Key
      example: 019ae40f-4258-7f15-9491-842f42a7d6ac
    ISO8601Duration:
      type: string
      pattern: ^P(?:\d+(?:\.\d+)?Y)?(?:\d+(?:\.\d+)?M)?(?:\d+(?:\.\d+)?W)?(?:\d+(?:\.\d+)?D)?(?:T(?:\d+(?:\.\d+)?H)?(?:\d+(?:\.\d+)?M)?(?:\d+(?:\.\d+)?S)?)?$
      description: '[ISO 8601 Duration](https://docs.digi.com/resources/documentation/digidocs/90001488-13/reference/r_iso_8601_duration_format.htm) string.'
      title: ISO 8601 Duration
      example: P1Y
      format: ISO8601
    ListCustomerEntitlementAccessResponseData:
      type: object
      required:
        - data
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/BillingEntitlementAccessResult'
          description: The list of entitlement access results.
          readOnly: true
      description: List customer entitlement access response data.
    ListCustomersParamsFilter:
      type: object
      properties:
        key:
          allOf:
            - $ref: '#/components/schemas/ExternalResourceKey'
          description: |-
            Filter customers by key.
            Case-insensitive partial match.
[...]
