OPENMETER_URL=http://127.0.0.1:8888
OPENMETER_METER_SLUG=m1
OPENMETER_SUBJECT=customer-1
NEXT_PUBLIC_OPENMETER_URL=${OPENMETER_URL}
NEXT_PUBLIC_OPENMETER_METER_SLUG=${OPENMETER_METER_SLUG}
NEXT_PUBLIC_OPENMETER_SUBJECT=${OPENMETER_SUBJECT}
