ingest:
  kafka:
    broker: kafka:29092

aggregation:
  clickhouse:
    address: clickhouse:9000

sink:
  minCommitCount: 1
  namespaceRefetch: 1s

meters:
  - slug: m1
    description: API calls
    eventType: api-calls
    valueProperty: $.duration_ms
    aggregation: SUM
    groupBy:
      method: $.method
      path: $.path
  - slug: m2
    description: Open AI Tokens
    eventType: openai
    valueProperty: $.total_tokens
    aggregation: SUM
    groupBy:
      model: $.model

portal:
  enabled: true
  tokenSecret: this-isnt-secure
