{{- if .Values.clickhouse.enabled -}}
apiVersion: clickhouse.altinity.com/v1
kind: ClickHouseInstallation
metadata:
  name: {{ include "openmeter.fullname" . }}
  labels:
    {{- include "openmeter.componentLabels" (list . "clickhouse") | nindent 4 }}
spec:
  defaults:
    templates:
      podTemplate: pod-template-with-volumes
      serviceTemplate: svc-template
  configuration:
    clusters:
      - name: {{ include "openmeter.fullname" . }}
    users:
      default/networks/ip: "::/0"
  templates:
    podTemplates:
      - name: pod-template-with-volumes
        spec:
          containers:
            - name: clickhouse
              image: clickhouse/clickhouse-server:24.10
              volumeMounts:
                - name: data-storage-vc-template
                  mountPath: /var/lib/clickhouse
                - name: log-storage-vc-template
                  mountPath: /var/log/clickhouse-server
    serviceTemplates:
      - name: svc-template
        spec:
          ports:
            - name: http
              port: 8123
            - name: tcp
              port: 9000
          type: ClusterIP
    volumeClaimTemplates:
      - name: data-storage-vc-template
        spec:
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 3Gi
      - name: log-storage-vc-template
        spec:
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 1Gi
{{- end }}
