{{- define "openmeter.helmValuesConfig" -}}
{{/* Overwrite kafka config if self-hosted kafka is used */}}
{{- if .Values.kafka.enabled -}}
ingest:
  kafka:
    broker: {{ include "openmeter.componentName" (list . "kafka") }}-controller-headless:9092
sink:
  kafka:
    brokers: {{ include "openmeter.componentName" (list . "kafka") }}-controller-headless:9092
{{- end }}

{{/* Overwrite clickhouse config if self-hosted clickhouse is used */}}
{{- if .Values.clickhouse.enabled -}}
aggregation:
  clickhouse:
    address: clickhouse-{{ include "openmeter.fullname" . }}:9000
    username: default
    password: ""
    database: default
{{- end }}

{{/* Overwrite postgres config if self-hosted postgres is used */}}
{{- if .Values.postgresql.enabled -}}
postgres:
  autoMigrate: ent
  url: postgres://application:application@{{ include "openmeter.fullname" . }}-postgres:5432/application
{{- end }}

{{/* Overwrite svix config if self-hosted svix is used */}}
{{- if .Values.svix.enabled -}}
svix:
  apiKey: {{ .Values.svix.signedJwt }}
  serverURL: http://{{ include "openmeter.componentName" (list . "svix" ) }}:{{ .Values.svix.service.port }}
  debug: true
{{- end }}

{{/* All features are enabled for this installation */}}
events:
  enabled: true
entitlements:
  enabled: true
notification:
  enabled: true
{{- end }}

apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "openmeter.fullname" . }}
  labels:
    {{- include "openmeter.labels" . | nindent 4 }}
data:
  config.yaml: |
    {{- $config := .Values.config -}}
    {{- $valuesConfig := fromYaml (include "openmeter.helmValuesConfig" .) -}}
    {{- $config := mergeOverwrite $config $valuesConfig -}}


    {{ $config | toYaml | nindent 4 }}

