name: CI (experimental)

on:
  push:
    branches: [main]
  pull_request:

permissions:
  contents: read

env:
  DAGGER_VERSION: 0.13.5

jobs:
  e2e:
    name: E2E
    runs-on: depot-ubuntu-latest-16,dagger=0.13.5

    steps:
      # Required as a workaround for Dagger to properly detect Git metadata
      - name: Checkout repository
        uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4.2.1

      - name: Run pipeline
        run: dagger call etoe

  dagger:
    name: CI
    runs-on: depot-ubuntu-latest-16,dagger=0.13.5

    steps:
      # Required as a workaround for Dagger to properly detect Git metadata
      - name: Checkout repository
        uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4.2.1

      - name: Run pipeline
        run: dagger call ci
