name: Python SDK

permissions:
  contents: write
  pull-requests: write

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - api/openapi.yaml
      - .github/workflows/sdk-python.yaml

jobs:
  generate:
    name: Generate
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
          ref: ${{ github.head_ref }}

      - name: Generate
        uses: dagger/dagger-for-github@6210aa04aaf743e52a7315449e213bb85cd828ce # v5.10.0
        with:
          verb: call
          args: --source .:default generate python-sdk -o api/client/python
          cloud-token: ${{ secrets.DAGGER_CLOUD_TOKEN }}
          version: "0.11.8"

      - name: Open pull request
        uses: peter-evans/create-pull-request@v6
        with:
          branch: openapi/python-sdk
          branch-suffix: short-commit-hash
          delete-branch: true
          commit-message: "chore(api): generate python client"
          title: "[bot] Re-generate Python client"
          body: "This PR was automatically generated."
          labels: |
            area/api
            release-note/misc
          token: ${{ secrets.BOT_GITHUB_TOKEN }}
