name: Python SDK

permissions:
  contents: write
  pull-requests: write

on:
  workflow_dispatch:
  # TODO (pmarton): enable after python client generation is fixed with TypeSpec generated OpenAPI spec
  # push:
  #   branches:
  #     - main
  #   paths:
  #     - api/openapi.yaml
  #     - .github/workflows/sdk-python.yaml

env:
  DAGGER_VERSION: 0.16.1

jobs:
  generate:
    name: Generate
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          ref: ${{ github.head_ref }}

      - name: Generate
        uses: dagger/dagger-for-github@b81317a976cb7f7125469707321849737cd1b3bc # v7.0.6
        with:
          verb: call
          args: generate python-sdk -o api/client/python
          cloud-token: ${{ secrets.DAGGER_CLOUD_NO_CACHE_TOKEN }}
          version: ${{ env.DAGGER_VERSION }}

      - name: Open pull request
        uses: peter-evans/create-pull-request@v7
        with:
          branch: openapi/python-sdk
          branch-suffix: short-commit-hash
          delete-branch: true
          commit-message: "chore(api): generate python client"
          title: "[bot] Re-generate Python client"
          body: "This PR was automatically generated."
          labels: |
            area/api
            release-note/misc
          token: ${{ secrets.BOT_GITHUB_TOKEN }}
