name: Snapshot

on:
  push:
    branches: [main]

permissions:
  contents: read

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      # Required as a workaround for Dagger to properly detect Git metadata
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Build
        uses: dagger/dagger-for-github@ad6a4e308a42fb2cf9be8b060f9aba9d57d4c9aa # v6.14.0
        with:
          verb: call
          args: snapshot --stainless-token env:STAINLESS_TOKEN
          # cloud-token: ${{ secrets.DAGGER_CLOUD_TOKEN }}
          version: "0.13.6"
        env:
          STAINLESS_TOKEN: ${{ secrets.STAINLESS_TOKEN }}
